Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync, tdd-guardian, tdd-guardian-scripts, lockfile-sync-guard, pip-audit-sca

Path conditions:
  code-audit-security: any of: \.py$
  cortex-audit: any of: \.(md|py)$ and \.(md|markdown|mdown)$, \.py$ and not (\.(j2|jinja|jinja2)$)
  cortex-guardian: any of: \.py$
  auto-doc-gen: any of: ^(scripts/cli/|scripts/core/).*\.py$ and \.py$
  cortex-neural-sync: any of: \.(md|markdown|mdown)$
  tdd-guardian: any of: ^src/ and \.py$
  tdd-guardian-scripts: any of: ^scripts/ and \.py$
  lockfile-sync-guard: any of: ^requirements/.*\.(in|txt)$
  pip-audit-sca: any of: ^requirements/.*\.(in|txt)$

feat(deps): implement Deep Consistency Check v2.3 with atomic write
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/reports/CHECKLIST_IMPLEMENTACAO_v2.3.md
  docs/reports/FORENSE_DEPENDENCY_GUARDIAN_v2.2_DIAGRAMS.md
  docs/reports/FORENSE_DEPENDENCY_GUARDIAN_v2.2_INCIDENT_20260111.md
  docs/reports/INDICE_INVESTIGACAO_FORENSE.md
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/reports/PROPOSTA_DEEP_CONSISTENCY_CHECK_v2.3.md
  docs/reports/SUMARIO_EXECUTIVO_INVESTIGACAO_FORENSE.md
  requirements/dev.txt
  scripts/core/dependency_guardian.py
  tests/test_dependency_guardian_deep.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync, tdd-guardian-scripts, lockfile-sync-guard, pip-audit-sca

🛡️ PROTOCOLO DE RESGATE v2.3.1 - CI Hardening + Governança
  .github/workflows/ci.yml
  docs/reports/FORENSE_DEPENDENCY_GUARDIAN_v2.2_INCIDENT_20260111.md
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/reports/PROPOSTA_DEEP_CONSISTENCY_CHECK_v2.3.md
  requirements/dev.txt
  scripts/core/dependency_guardian.py
  tests/test_dependency_guardian_deep.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync, tdd-guardian-scripts, lockfile-sync-guard, pip-audit-sca

fix(ci): final infrastructure and lockfile synchronization v2.3.2
  .github/workflows/ci.yml
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync, lockfile-sync-guard, pip-audit-sca

feat(deps): implement Decompression Protocol v2.4 - CI Resilience Mode
  CHANGELOG.md
  README.md
  docs/architecture/DEPENDENCY_IMMUNITY_PROTOCOL.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
  scripts/core/dependency_guardian.py
  tests/test_dependency_alignment.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync, tdd-guardian-scripts, lockfile-sync-guard, pip-audit-sca

feat(ci): Protocolo de Estabilização v2.4.1 - Resiliência de Infraestrutura
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/architecture/DEPENDENCY_IMMUNITY_PROTOCOL.md
  scripts/audit_config.yaml
  scripts/core/dependency_guardian.py
  tests/test_dependency_alignment.py
  tests/test_dependency_guardian_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync, tdd-guardian-scripts

fix(ci): consolidate resilience and decompression protocols v2.4.2
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
  tests/test_dependency_guardian_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync, lockfile-sync-guard, pip-audit-sca

fix: Neutraliza 3 achados HIGH (falsos-positivos em testes E2E)
  CHANGELOG.md
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/audit_config.yaml
  tests/test_dependency_guardian_deep.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix: Neutraliza 3 achados HIGH (falsos-positivos em testes E2E) (#281)
  CHANGELOG.md
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/audit_config.yaml
  tests/test_dependency_guardian_deep.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

chore(deps): Bump textual from 7.0.0 to 7.3.0 with v2.4 security protocols
  CHANGELOG.md
  audit_metrics.json
  docs/reports/INCIDENT_CLOSURE_V2_5_MODERNIZATION.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync, lockfile-sync-guard, pip-audit-sca

Chore/modernize textual v7 3 (#282)
  CHANGELOG.md
  audit_metrics.json
  docs/reports/INCIDENT_CLOSURE_V2_5_MODERNIZATION.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync, lockfile-sync-guard, pip-audit-sca

build(deps): Modernize ruff 0.14.13 + absorb temporal drift (v2.5.1)
  CHANGELOG.md
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync, lockfile-sync-guard, pip-audit-sca

Fix/ruff modernization v2 5 1 (#284)
  CHANGELOG.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync, lockfile-sync-guard, pip-audit-sca

fix(deps): Regenerate requirements/dev.txt with full dependency tree
  requirements/dev.txt
Due: lockfile-sync-guard, pip-audit-sca

fix(deps): Regenerate requirements/dev.txt with full dependency tree
  CHANGELOG.md
  Makefile
  README.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.txt
  scripts/ci/verify_deps.py
  tests/test_dependency_alignment.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync, tdd-guardian-scripts, lockfile-sync-guard, pip-audit-sca

test: achieve 84% coverage in verify_deps.py (v2.5.6)
  requirements/dev.txt
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian, lockfile-sync-guard, pip-audit-sca

build(deps): final lockfile synchronization and coverage rehabilitation v2.5.7
  requirements/dev.txt
Due: lockfile-sync-guard, pip-audit-sca

chore: simplificação radical - remove bloqueios de doctor e dependências complexas
  .pre-commit-config.yaml
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.txt
  scripts/ci/verify_deps.py
  test_coverage_output.txt
  tests/test_security_audit.py
  validate_output.txt
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync, tdd-guardian-scripts, lockfile-sync-guard, pip-audit-sca

fix: regenera requirements/dev.txt completo
  requirements/dev.txt
Due: lockfile-sync-guard, pip-audit-sca

build: remove doctor blocker from test target and clean lockfile
  Makefile
  requirements/dev.txt
Due: lockfile-sync-guard, pip-audit-sca

build: update lockfile to match dev.in constraints
  requirements/dev.txt
Due: lockfile-sync-guard, pip-audit-sca
