Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$

feat(scripts): Adiciona scripts de automação Git
  scripts/direct-push-main.sh
  scripts/post-pr-cleanup.sh
Due: none

docs(guide): Corrige frontmatter do guia de automação Git
  docs/guides/GIT_AUTOMATION_SCRIPTS.md
Due: cortex-audit

feat(neural): configure pre-commit and makefile for auto-indexing (Task 011)
  .pre-commit-config.yaml
  Makefile
Due: none

feat(neural): configure pre-commit and makefile for auto-indexing (Task 011) (#170)
  .pre-commit-config.yaml
  Makefile
Due: none

feat(infra): implement smart governance logic for hooks and scripts (Task 012)
  .pre-commit-config.yaml
  Makefile
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

feat(infra): implement smart governance logic for hooks and scripts (Task 012) (#171)
  .pre-commit-config.yaml
  Makefile
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

docs: comprehensive update of README to reflect full project capabilities (Task 013)
  README.md
Due: cortex-audit

docs: comprehensive update of README to reflect full project capabilities (Task 013) (#172)
  README.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: scaffolding architecture
  audit_metrics.json
  docs/architecture/CORTEX_INDICE.md
  docs/architecture/PROJECT_SCAFFOLDING_ARCHITECTURE.md
  docs/history/NEWPROJECT_EVOLUTION.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: Task Runner Pattern, Delta Audit, Safe Transplant
  docs/architecture/ROADMAP_DELTA_AUDIT.md
  docs/architecture/TASK_RUNNER_PATTERN.md
  docs/guides/SAFE_SCRIPT_TRANSPLANT.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: src/.gitkeep stability
  docs/architecture/ADR_003_SRC_GITKEEP_STABILITY.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: SRE methodology, technical debt resolution, and Triad governance lessons
  docs/guides/TRIAD_SYNC_LESSONS_LEARNED.md
  docs/history/SRE_EVOLUTION_METHODOLOGY.md
  docs/history/SRE_TECHNICAL_DEBT_CATALOG.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: refactoring & troubleshooting protocols
  docs/guides/ATOMIC_COMMIT_PROTOCOL.md
  docs/guides/DEV_ENVIRONMENT_TROUBLESHOOTING.md
  docs/guides/REFACTORING_PROTOCOL_ITERATIVE_FRACTIONATION.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: S.O.L.I.D. Audit Architecture
  docs/architecture/CODE_AUDIT.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: Git Workflow + Testing Strategy
  README.md
  docs/guides/PROTECTED_BRANCH_WORKFLOW.md
  docs/guides/TESTING_STRATEGY_MOCKS.md
  docs/history/SRE_TECHNICAL_DEBT_CATALOG.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: i18n, fail-fast, formatter-pattern
  docs/architecture/CODE_AUDIT.md
  docs/architecture/FORMATTER_PATTERN.md
  docs/architecture/I18N_STRATEGY.md
  docs/guides/FAIL_FAST_PHILOSOPHY.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from SRE evolution report
  docs/architecture/GIT_SYNC_HEARTBEAT_TELEMETRY.md
  docs/guides/DEV_PROD_PARITY_STRATEGY.md
  docs/knowledge/OPERATIONAL_WAR_DIARY.md
Due: cortex-audit

docs(knowledge): ingest operational troubleshooting insights from evolution report
  docs/guides/OPERATIONAL_TROUBLESHOOTING.md
Due: cortex-audit

docs(knowledge): ingest valuable insights from evolution report: LLM engineering limits & technical roadmap
  docs/guides/LLM_ENGINEERING_CONTEXT_AWARENESS.md
  docs/reports/TECHNICAL_ROADMAP_Q1_Q5_2026.md
Due: cortex-audit

docs(knowledge): ingest Phase 2 postmortem and LLM task decomposition strategy
  docs/README.md
  docs/guides/LLM_ENGINEERING_CONTEXT_AWARENESS.md
  docs/guides/LLM_TASK_DECOMPOSITION_STRATEGY.md
  docs/history/PHASE2_KNOWLEDGE_NODE_POSTMORTEM.md
  docs/history/PHASE3_ROADMAP_HARDENING.md
  docs/knowledge/OPERATIONAL_WAR_DIARY.md
  docs/reports/TECHNICAL_ROADMAP_Q1_Q5_2026.md
Due: cortex-audit

chore(structure): cleanup docs folder, remove empty tests and integrate new knowledge reports
  README.md
  docs/architecture/CORTEX_INDICE.md
  scripts/docs/CORTEX_FASE03_DIAGRAMS.py
  tests/test_structure_policy.py
Due: code-audit-security, cortex-audit

docs: add comprehensive cleanup report for LLM consumption
  docs/reports/STRUCTURE_CLEANUP_REPORT.md
Due: cortex-audit

docs: integrate missing retrospective and handover reports into cortex index and readme
  README.md
  docs/architecture/CORTEX_INDICE.md
  docs/reports/STRUCTURE_CLEANUP_REPORT.md
Due: cortex-audit

chore(structure): cleanup docs folder and integrate complete documentation catalog v1.4.0 (#173)
  README.md
  audit_metrics.json
  docs/README.md
  docs/architecture/ADR_003_SRC_GITKEEP_STABILITY.md
  docs/architecture/CODE_AUDIT.md
  docs/architecture/CORTEX_INDICE.md
  docs/architecture/FORMATTER_PATTERN.md
  docs/architecture/GIT_SYNC_HEARTBEAT_TELEMETRY.md
  docs/architecture/I18N_STRATEGY.md
  docs/architecture/PROJECT_SCAFFOLDING_ARCHITECTURE.md
  docs/architecture/ROADMAP_DELTA_AUDIT.md
  docs/architecture/TASK_RUNNER_PATTERN.md
  docs/guides/ATOMIC_COMMIT_PROTOCOL.md
  docs/guides/DEV_ENVIRONMENT_TROUBLESHOOTING.md
  docs/guides/DEV_PROD_PARITY_STRATEGY.md
  docs/guides/FAIL_FAST_PHILOSOPHY.md
  docs/guides/LLM_ENGINEERING_CONTEXT_AWARENESS.md
  docs/guides/LLM_TASK_DECOMPOSITION_STRATEGY.md
  docs/guides/OPERATIONAL_TROUBLESHOOTING.md
  docs/guides/PROTECTED_BRANCH_WORKFLOW.md
  docs/guides/REFACTORING_PROTOCOL_ITERATIVE_FRACTIONATION.md
  docs/guides/SAFE_SCRIPT_TRANSPLANT.md
  docs/guides/TESTING_STRATEGY_MOCKS.md
  docs/guides/TRIAD_SYNC_LESSONS_LEARNED.md
  docs/history/NEWPROJECT_EVOLUTION.md
  docs/history/PHASE2_KNOWLEDGE_NODE_POSTMORTEM.md
  docs/history/PHASE3_ROADMAP_HARDENING.md
  docs/history/SRE_EVOLUTION_METHODOLOGY.md
  docs/history/SRE_TECHNICAL_DEBT_CATALOG.md
  docs/knowledge/OPERATIONAL_WAR_DIARY.md
  docs/reports/STRUCTURE_CLEANUP_REPORT.md
  docs/reports/TECHNICAL_ROADMAP_Q1_Q5_2026.md
  scripts/docs/CORTEX_FASE03_DIAGRAMS.py
  tests/test_structure_policy.py
Due: code-audit-security, cortex-audit

docs: catalogue and integrate 11 orphan knowledge reports into cortex ecosystem (Phase 3)
  README.md
  docs/architecture/CORTEX_INDICE.md
Due: cortex-audit

docs: catalogue and integrate 11 orphan knowledge reports into cortex ecosystem (Phase 3) (#174)
  README.md
  docs/architecture/CORTEX_INDICE.md
Due: cortex-audit

docs: comprehensive update of README to reflect full project capabilities (Task 013) (#175)
  README.md
Due: cortex-audit

ci: optimize pipeline caching and parallelism to reduce execution time
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: none

ci: optimize pipeline caching and parallelism to reduce execution time (#176)
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: none

ci: implement level 2 optimization (matrix cache + parallel jobs)
  .github/workflows/ci.yml
Due: none

fix(ci): Ajustar verificação de dependências do doctor.py para ambiente CI
  scripts/cli/doctor.py
Due: code-audit-security, cortex-audit

fix(ci): add pytest to doctor checks and ensure dependency sync in workflows
  .github/workflows/ci.yml
  scripts/cli/doctor.py
Due: code-audit-security, cortex-audit

ci: Hybrid Level 2 Optimization (Matrix Restore + Aggressive Caching) (#177)
  .github/workflows/ci.yml
  scripts/cli/doctor.py
Due: code-audit-security, cortex-audit

fix(ci): remove fail-on-cache-miss and add install fallback for resilience
  .github/workflows/ci.yml
Due: none

refactor(core): establish application foundation and settings structure
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md.backup
  docs/architecture/ARCHITECTURE_TRIAD.md
  pyproject.toml
  requirements/dev.txt
  src/__init__.py
  src/app/__init__.py
  src/app/core/__init__.py
  src/app/core/config.py
  src/app/main.py
  src/main.py
Due: code-audit-security, cortex-audit

fix(ux): redirect root path to docs documentation
  src/app/main.py
Due: code-audit-security, cortex-audit

refactor(core): establish application foundation and settings structure (#183)
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md.backup
  docs/architecture/ARCHITECTURE_TRIAD.md
  pyproject.toml
  requirements/dev.txt
  src/__init__.py
  src/app/__init__.py
  src/app/core/__init__.py
  src/app/core/config.py
  src/app/main.py
  src/main.py
Due: code-audit-security, cortex-audit

docs: update documentation to reflect sprint 1 architecture changes
  CHANGELOG.md
  README.md
Due: cortex-audit

refactor(core): migrate cortex and guardian models from dataclass to pydantic v2
  CHANGELOG.md
  docs/architecture/DATA_MODELS.md
  scripts/core/cortex/mapper.py
  scripts/core/cortex/models.py
  scripts/core/guardian/models.py
Due: code-audit-security, cortex-audit
