Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$

chore(deps): Bump actions/checkout from 4 to 6 (#93) (#95)
  .github/copilot-instructions.md
  .gitignore
  IMPLEMENTATION_SUMMARY.md
  docs/guides/CORTEX_INTROSPECTION_SYSTEM.md
  scripts/cli/cortex.py
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit

docs: add Synapse protocol instructions to README
  README.md
Due: cortex-audit

docs: add Synapse protocol instructions to README (#96)
  README.md
Due: cortex-audit

docs: add Synapse protocol instructions to README (#96)
  CHANGELOG.md
  README.md
  docs/architecture/CORTEX_ROOT_LOCKDOWN.md
  docs/guides/MOCK_SYSTEM.md
  docs/history/sprint_2_cortex/IMPLEMENTATION_SUMMARY.md
  scripts/cli/cortex.py
  scripts/core/cortex/scanner.py
Due: code-audit-security, cortex-audit

docs: add Synapse protocol instructions to README (#96) (#97)
  CHANGELOG.md
  docs/architecture/CORTEX_ROOT_LOCKDOWN.md
  docs/guides/MOCK_SYSTEM.md
  docs/history/sprint_2_cortex/IMPLEMENTATION_SUMMARY.md
  scripts/cli/cortex.py
  scripts/core/cortex/scanner.py
Due: code-audit-security, cortex-audit

fix(deps): remove non-existent 'types-python-frontmatter' package
  pyproject.toml
  requirements/dev.txt
Due: none

fix(deps): remove phantom package from dev.in and regenerate lockfile
  requirements/dev.in
Due: none

fix(compat): remove runtime generics from StreamHandler to support Python 3.10
  scripts/utils/logger.py
Due: code-audit-security, cortex-audit

chore(deps): Bump ruff from 0.14.6 to 0.14.7 (#90) (#98)
  SPRINT4_MYPY_SUMARIO.txt
  docs/history/sprint_4/INDICE.md
  docs/history/sprint_4/MYPY_COMPARACAO_CONFIGS.md
  docs/history/sprint_4/SPRINT4_MYPY_AUDIT.md
  docs/history/sprint_4/SPRINT4_MYPY_RESUMO_EXECUTIVO.md
  mypy_nivel1_proposta.toml
  mypy_strict.ini
  pyproject.toml
  scripts/audit/reporter.py
  scripts/audit_dashboard/storage.py
  scripts/ci_recovery/analyzer.py
  scripts/ci_recovery/executor.py
  scripts/ci_recovery/runner.py
  scripts/cli/cortex.py
  scripts/cli/mock_ci.py
  scripts/core/cortex/mapper.py
  scripts/core/cortex/migrate.py
  scripts/core/mock_generator.py
  scripts/integrated_audit_example.py
  scripts/utils/atomic.py
  scripts/utils/logger.py
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit

feat(security): enforce mypy type checking in pre-commit and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

feat(security): enforce mypy type checking in pre-commit and CI (#99)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

docs(handover): add transition documentation for next team
  docs/guides/HANDOVER_NEXT_TEAM.md
  docs/history/sprint_4/MYPY_STRICT_IMPLEMENTATION.md
Due: cortex-audit

refactor(mock-ci): modularize monolithic script into core package
  docs/architecture/MOCK_CI_REFACTORING.md
  scripts/cli/mock_ci.py
  scripts/core/mock_ci/__init__.py
  scripts/core/mock_ci/checker.py
  scripts/core/mock_ci/config.py
  scripts/core/mock_ci/detector.py
  scripts/core/mock_ci/fixer.py
  scripts/core/mock_ci/git_ops.py
  scripts/core/mock_ci/models.py
  scripts/core/mock_ci/reporter.py
  scripts/core/mock_ci/runner.py
  tests/test_mock_ci_integration.py
  tests/test_mock_ci_models.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit

refactor(mock-ci): modularize monolithic script into core package (#101)
  docs/architecture/MOCK_CI_REFACTORING.md
  scripts/cli/mock_ci.py
  scripts/core/mock_ci/__init__.py
  scripts/core/mock_ci/checker.py
  scripts/core/mock_ci/config.py
  scripts/core/mock_ci/detector.py
  scripts/core/mock_ci/fixer.py
  scripts/core/mock_ci/git_ops.py
  scripts/core/mock_ci/models.py
  scripts/core/mock_ci/reporter.py
  scripts/core/mock_ci/runner.py
  tests/test_mock_ci_integration.py
  tests/test_mock_ci_models.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit

refactor(mock-ci): modularize monolithic script into core package (#101)
  docs/architecture/MOCK_CI_REFACTORING.md
  scripts/audit_config.yaml
  scripts/cli/audit.py
  scripts/cli/mock_ci.py
  scripts/core/mock_ci/__init__.py
  scripts/core/mock_ci/checker.py
  scripts/core/mock_ci/config.py
  scripts/core/mock_ci/detector.py
  scripts/core/mock_ci/fixer.py
  scripts/core/mock_ci/git_ops.py
  scripts/core/mock_ci/models.py
  scripts/core/mock_ci/reporter.py
  scripts/core/mock_ci/runner.py
  tests/test_audit_analyzer.py
  tests/test_mock_ci_integration.py
  tests/test_mock_ci_models.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit

refactor(mock-ci): modularize monolithic script into core package (#101) (#102)
  scripts/audit_config.yaml
  scripts/cli/audit.py
  tests/test_audit_analyzer.py
Due: code-audit-security, cortex-audit

refactor(mock-ci): modularize monolithic script into core package (#101) (#102)
  docs/guides/CORTEX_AUTO_HOOKS.md
  docs/history/sprint_4/HOOKS_IMPLEMENTATION.md
  scripts/audit_config.yaml
  scripts/cli/audit.py
  scripts/cli/cortex.py
  tests/test_audit_analyzer.py
Due: code-audit-security, cortex-audit

refactor(mock-ci): modularize monolithic script into core package (#101) (#102) (#103)
  docs/guides/CORTEX_AUTO_HOOKS.md
  docs/history/sprint_4/HOOKS_IMPLEMENTATION.md
  scripts/cli/cortex.py
Due: code-audit-security, cortex-audit

docs(guides): update guides to use modern Console Scripts
  docs/architecture/AUDIT_DASHBOARD_INTEGRATION.md
  docs/architecture/CODE_AUDIT.md
  docs/architecture/MOCK_CI_REFACTORING.md
  docs/guides/MOCK_SYSTEM.md
  docs/guides/SMART_GIT_SYNC_GUIDE.md
  docs/guides/testing.md
Due: cortex-audit

docs(guides): update guides to use modern Console Scripts (#104)
  docs/architecture/AUDIT_DASHBOARD_INTEGRATION.md
  docs/architecture/CODE_AUDIT.md
  docs/architecture/MOCK_CI_REFACTORING.md
  docs/guides/MOCK_SYSTEM.md
  docs/guides/SMART_GIT_SYNC_GUIDE.md
  docs/guides/testing.md
Due: cortex-audit

docs(arch): add Visibility Guardian design specification
  docs/architecture/VISIBILITY_GUARDIAN_DESIGN.md
Due: cortex-audit

docs(arch): add Visibility Guardian design specification (#105)
  docs/architecture/VISIBILITY_GUARDIAN_DESIGN.md
Due: cortex-audit

docs(arch): add Visibility Guardian design specification (#105)
  docs/architecture/VISIBILITY_GUARDIAN_DESIGN.md
  docs/guides/VISIBILITY_GUARDIAN_QUICK_START.md
  docs/history/sprint_5/SPRINT5_PHASE1_SCANNER_IMPLEMENTATION.md
  docs/history/sprint_5/SPRINT5_SUMMARY.md
  scripts/core/guardian/__init__.py
  scripts/core/guardian/models.py
  scripts/core/guardian/scanner.py
  scripts/example_guardian_scanner.py
  tests/test_guardian_scanner.py
Due: code-audit-security, cortex-audit

docs(arch): add Visibility Guardian design specification (#105) (#106)
  docs/guides/VISIBILITY_GUARDIAN_QUICK_START.md
  docs/history/sprint_5/SPRINT5_PHASE1_SCANNER_IMPLEMENTATION.md
  docs/history/sprint_5/SPRINT5_SUMMARY.md
  scripts/core/guardian/__init__.py
  scripts/core/guardian/models.py
  scripts/core/guardian/scanner.py
  scripts/example_guardian_scanner.py
  tests/test_guardian_scanner.py
Due: code-audit-security, cortex-audit

docs(arch): add Visibility Guardian design specification (#105) (#106)
  docs/guides/VISIBILITY_GUARDIAN_QUICK_START.md
  docs/history/sprint_5/SPRINT5_PHASE1_SCANNER_IMPLEMENTATION.md
  docs/history/sprint_5/SPRINT5_SUMMARY.md
  docs/history/visibility_guardian_orphan_detection_test.md
  scripts/cli/cortex.py
  scripts/core/guardian/__init__.py
  scripts/core/guardian/matcher.py
  scripts/core/guardian/models.py
  scripts/core/guardian/scanner.py
  scripts/example_guardian_scanner.py
  tests/test_guardian_scanner.py
Due: code-audit-security, cortex-audit

docs(arch): add Visibility Guardian design specification (#105) (#106) (#107)
  docs/history/visibility_guardian_orphan_detection_test.md
  scripts/cli/cortex.py
  scripts/core/guardian/matcher.py
Due: code-audit-security, cortex-audit

feat(guardian): integrate Visibility Guardian into CI/CD pipeline
  .github/workflows/ci.yml
  .guardian-whitelist.yaml
  .pre-commit-config.yaml
  scripts/cli/cortex.py
  scripts/cli/install_dev.py
  scripts/core/cortex/mapper.py
  scripts/core/guardian/scanner.py
Due: code-audit-security, cortex-audit

feat(guardian): integrate Visibility Guardian into CI/CD pipeline (#108)
  .github/workflows/ci.yml
  .guardian-whitelist.yaml
  .pre-commit-config.yaml
  scripts/cli/cortex.py
  scripts/cli/install_dev.py
  scripts/core/cortex/mapper.py
  scripts/core/guardian/scanner.py
Due: code-audit-security, cortex-audit

fix(core): prevent mock validator crash on missing config
  scripts/core/mock_validator.py
Due: code-audit-security, cortex-audit

fix(core): prevent mock validator crash on missing config (#111)
  scripts/core/mock_validator.py
Due: code-audit-security, cortex-audit

feat(core): add timeout and retry to git operations
  scripts/core/mock_ci/git_ops.py
Due: code-audit-security, cortex-audit

feat(core): add timeout and retry to git operations (#112)
  scripts/core/mock_ci/git_ops.py
Due: code-audit-security, cortex-audit

feat(audit): implement environment sanitization for plugins
  scripts/audit/plugins.py
Due: code-audit-security, cortex-audit

feat(audit): implement environment sanitization for plugins (#113)
  scripts/audit/plugins.py
Due: code-audit-security, cortex-audit

feat(dev): implement checksum-based install in Makefile
  Makefile
Due: none

feat(dev): implement checksum-based install in Makefile (#114)
  Makefile
Due: none

feat(dev): implement checksum-based install in Makefile (#114)
  Makefile
  docs/guides/logging.md
  scripts/cli/cortex.py
  scripts/utils/context.py
  scripts/utils/logger.py
Due: code-audit-security, cortex-audit

feat(dev): implement checksum-based install in Makefile (#114) (#115)
  docs/guides/logging.md
  scripts/cli/cortex.py
  scripts/utils/context.py
  scripts/utils/logger.py
Due: code-audit-security, cortex-audit

feat(core): implement FileSystemAdapter abstraction...
  scripts/utils/filesystem.py
  tests/test_filesystem_adapter.py
Due: code-audit-security, cortex-audit
