Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Mypy (Type Checking)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml, --python-version=3.10]
        additional_dependencies:
          - types-PyYAML==6.0.12.20250915
          - types-requests==2.32.4.20250913
          - pydantic>=2.0
          - pydantic-settings>=2.0
        pass_filenames: true
        types: [python]
        exclude: ^(scripts/audit_dashboard\.py|tests/)

  # 4. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$
        exclude: \.(j2|jinja|jinja2)$

      - id: cortex-guardian
        name: "CORTEX Guardian - Bloqueia Shadow Configuration"
        entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
        language: system
        pass_filenames: false
        types: [python]

      - id: auto-doc-gen
        name: "Auto-Generate CLI Docs"
        entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
        language: system
        pass_filenames: false
        files: ^(scripts/cli/|scripts/core/).*\.py$
        types: [python]

      - id: cortex-neural-sync
        name: "CORTEX Neural Auto-Sync"
        entry: python -m scripts.cli.cortex neural index
        language: system
        types: [markdown]
        pass_filenames: false
        description: "Automatically updates the vector store when documentation changes."

refactor(core): migrate cortex and guardian models from dataclass to pydantic v2 (#185)
  CHANGELOG.md
  docs/architecture/DATA_MODELS.md
  scripts/core/cortex/mapper.py
  scripts/core/cortex/models.py
  scripts/core/guardian/models.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(git-sync): implement pydantic DTO for sync step serialization
  CHANGELOG.md
  scripts/git_sync/models.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

refactor(git-sync): implement pydantic DTO for sync step serialization (#186)
  CHANGELOG.md
  scripts/git_sync/models.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(audit): modernize audit report UI with rich components
  CHANGELOG.md
  scripts/audit/reporter.py
  tests/test_reporter.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(audit): modernize audit report UI with rich components (#187)
  CHANGELOG.md
  scripts/audit/reporter.py
  tests/test_reporter.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

refactor(cortex): unify scanner parsing logic and migrate mapper to pydantic
  CHANGELOG.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): unify scanner parsing logic and migrate mapper to pydantic (#188)
  CHANGELOG.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): add integration tests and strict knowledge schema validation
  CHANGELOG.md
  docs/knowledge/OPERATIONAL_WAR_DIARY.md
  scripts/core/cortex/metadata.py
  tests/test_cortex_integration.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): add integration tests and strict knowledge schema validation (#189)
  CHANGELOG.md
  docs/knowledge/OPERATIONAL_WAR_DIARY.md
  scripts/core/cortex/metadata.py
  tests/test_cortex_integration.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): implement AST caching and parallel scanning
  CHANGELOG.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/scanner.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): implement AST caching and parallel scanning (#190)
  CHANGELOG.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/scanner.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(qa): harden concurrency with thread-safe memory fs and stress tests
  CHANGELOG.md
  docs/architecture/PERFORMANCE_NOTES.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/utils/filesystem.py
  tests/test_cortex_concurrency.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(qa): resolve mypy generic type error in concurrency tests
  tests/test_cortex_concurrency.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(qa): Blindagem de Concorrência - Thread-Safety e Testes de Estresse para CORTEX (#191)
  CHANGELOG.md
  docs/architecture/PERFORMANCE_NOTES.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/utils/filesystem.py
  tests/test_cortex_concurrency.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

chore(perf): add benchmark script and update performance metrics
  CHANGELOG.md
  docs/architecture/PERFORMANCE_NOTES.md
  scripts/benchmark_cortex_perf.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix: resolve build errors and disable parallel scanning (perf regression)
  docs/architecture/PERFORMANCE_NOTES.md
  pyproject.toml
  scripts/benchmark_cortex_perf.py
  scripts/core/cortex/knowledge_scanner.py
  tests/test_cortex_concurrency.py
  tests/test_knowledge_poc.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

chore(perf): add benchmark tooling and disable parallel scanning (mitigate 34% regression) (#192)
  CHANGELOG.md
  docs/architecture/PERFORMANCE_NOTES.md
  pyproject.toml
  scripts/benchmark_cortex_perf.py
  scripts/core/cortex/knowledge_scanner.py
  tests/test_cortex_concurrency.py
  tests/test_knowledge_poc.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): expose parallel processing mode to users via CLI
  CHANGELOG.md
  README.md
  docs/guides/CORTEX_PARALLEL_MODE.md
  scripts/cli/cortex.py
  scripts/core/cortex/knowledge_scanner.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): expose parallel processing mode to users via CLI (#193)
  CHANGELOG.md
  README.md
  docs/guides/CORTEX_PARALLEL_MODE.md
  scripts/cli/cortex.py
  scripts/core/cortex/knowledge_scanner.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(mock-ci): implement pydantic v2 config schema with full validation
  docs/reference/MOCK_CI_SCHEMA.json
  scripts/core/mock_ci/models_pydantic.py
  scripts/core/mock_generator.py
  tests/test_mock_config_schema.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

docs(mock-ci): fix frontmatter and move to history
  docs/history/MOCK_CI_SCHEMA_IMPLEMENTATION_REPORT.md
  docs/history/MOCK_CI_SCHEMA_PR_DESCRIPTION.md
Due: cortex-audit, cortex-neural-sync

Implement Pydantic V2 Config Schema with Strict Validation (#194)
  docs/history/MOCK_CI_SCHEMA_IMPLEMENTATION_REPORT.md
  docs/history/MOCK_CI_SCHEMA_PR_DESCRIPTION.md
  docs/reference/MOCK_CI_SCHEMA.json
  scripts/core/mock_ci/models_pydantic.py
  scripts/core/mock_generator.py
  tests/test_mock_config_schema.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(mock-ci): integrate MockCIConfig with Top-Down Injection pattern
  docs/history/MOCK_CI_SCHEMA_INTEGRATION_REPORT.md
  scripts/cli/mock_ci.py
  scripts/cli/mock_generate.py
  scripts/core/mock_ci/runner.py
  scripts/core/mock_generator.py
  scripts/core/mock_validator.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs(mock-ci): add PR description and final integration report
  docs/history/MOCK_CI_SCHEMA_INTEGRATION_FINAL_REPORT.md
  docs/history/MOCK_CI_SCHEMA_INTEGRATION_PR.md
Due: cortex-audit, cortex-neural-sync

feat(mock-ci): Integrate MockCIConfig with Top-Down Injection (#195)
  docs/history/MOCK_CI_SCHEMA_INTEGRATION_FINAL_REPORT.md
  docs/history/MOCK_CI_SCHEMA_INTEGRATION_PR.md
  docs/history/MOCK_CI_SCHEMA_INTEGRATION_REPORT.md
  scripts/cli/mock_ci.py
  scripts/cli/mock_generate.py
  scripts/core/mock_ci/runner.py
  scripts/core/mock_generator.py
  scripts/core/mock_validator.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat: Add Deep Clean functionality for merged branches
  scripts/git_sync/config.py
  scripts/git_sync/sync_logic.py
  scripts/smart_git_sync_config.yaml
  tests/test_smart_git_sync.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat: Add Deep Clean functionality for merged branches (#196)
  scripts/git_sync/config.py
  scripts/git_sync/sync_logic.py
  scripts/smart_git_sync_config.yaml
  tests/test_smart_git_sync.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat: add TOML Fusion - intelligent TOML file merger with comment preservation
  CHANGELOG.md
  docs/guides/TOML_FUSION.md
  pyproject.toml
  scripts/cli/fusion.py
  scripts/utils/toml_merger.py
  tests/test_toml_merger.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat: add TOML Fusion - intelligent TOML file merger with comment preservation
  docs/guides/TOML_FUSION.md
Due: cortex-audit, cortex-neural-sync

fix(tests): add type casts to resolve mypy errors in TOML merger tests
  tests/test_toml_merger.py
Due: code-audit-security, cortex-audit, cortex-guardian

style(toml_merger): apply ruff formatting fixes
  scripts/utils/toml_merger.py
Due: code-audit-security, cortex-audit, cortex-guardian

Add TOML Fusion - Intelligent Style-Preserving Merger (#197)
  CHANGELOG.md
  docs/guides/TOML_FUSION.md
  pyproject.toml
  scripts/cli/fusion.py
  scripts/utils/toml_merger.py
  tests/test_toml_merger.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(toml-fusion): Add interactive mode and Cortex integration
  docs/guides/TOML_FUSION.md
  docs/reference/CLI_COMMANDS.md
  scripts/cli/cortex.py
  scripts/cli/fusion.py
  scripts/utils/toml_merger.py
  tests/test_toml_merger.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(toml-fusion): Add interactive mode and Cortex integration (#198)
  docs/guides/TOML_FUSION.md
  docs/reference/CLI_COMMANDS.md
  scripts/cli/cortex.py
  scripts/cli/fusion.py
  scripts/utils/toml_merger.py
  tests/test_toml_merger.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(ux): adicionar comando init e telemetria visual
  CHANGELOG.md
  README.md
  docs/guides/ux-visibility-improvements.md
  scripts/cli/mock_ci.py
  scripts/git_sync/sync_logic.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(ci): whitelist subprocess in e2e tests and update makefile audit command
  Makefile
  scripts/audit_config.yaml
Due: none

feat(ux): Add init command and Visual Telemetry (#199)
  CHANGELOG.md
  Makefile
  README.md
  docs/guides/ux-visibility-improvements.md
  scripts/audit_config.yaml
  scripts/cli/mock_ci.py
  scripts/git_sync/sync_logic.py
  tests/test_mock_ci_runner_e2e.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(security): Add visibility for environment variable sanitization (P13)
  CHANGELOG.md
  audit_metrics.json
  scripts/audit/plugins.py
  scripts/utils/security.py
  tests/test_utils_security.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(security): Add visibility for environment variable sanitization (P13) (#201)
  CHANGELOG.md
  audit_metrics.json
  scripts/audit/plugins.py
  scripts/utils/security.py
  tests/test_utils_security.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(platform): Add Windows compatibility alert (P09)
  CHANGELOG.md
  scripts/utils/platform_strategy.py
  tests/test_platform_strategy.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync
