Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

code-audit-security:
  name: Auditoria de Segurança Customizada (Delta)
  entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
  language: system
  pass_filenames: true

cortex-audit:
  name: CORTEX - Auditoria de Documentação
  entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
  language: system
  pass_filenames: false

cortex-guardian:
  name: CORTEX Guardian - Bloqueia Shadow Configuration
  entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
  language: system
  pass_filenames: false

auto-doc-gen:
  name: Auto-Generate CLI Docs
  entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
  language: system
  pass_filenames: false

cortex-neural-sync:
  name: CORTEX Neural Auto-Sync
  entry: python -m scripts.cli.cortex neural index
  language: system
  pass_filenames: false
  description: Automatically updates the vector store when documentation changes.

docs: add TDD Guardian forensics report
  docs/README.md
  docs/reports/TDD_GUARDIAN_FORENSICS.md
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

sec(sca): replace safety with pip-audit to fix ci auth block
  .safety-policy.yml
  .safety-policy.yml.bak
  Makefile
  README.md
  audit_metrics.json
  docs/architecture/SECURITY_STRATEGY.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

ci(docs): fix cortex frontmatter and enable local audit in makefile
  CHANGELOG.md
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/reports/TDD_GUARDIAN_FORENSICS.md
Due: cortex-audit, cortex-neural-sync

ci(docs): Fix CORTEX frontmatter validation and enable local audit (#258)
  .safety-policy.yml
  .safety-policy.yml.bak
  CHANGELOG.md
  Makefile
  README.md
  audit_metrics.json
  docs/architecture/SECURITY_STRATEGY.md
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/reports/TDD_GUARDIAN_FORENSICS.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

docs: add god functions complexity report
  docs/README.md
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

docs: add god functions complexity report (#259)
  docs/README.md
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

docs(ops): add git workflow troubleshooting guide and prevent auto-format issues
  .editorconfig
  docs/README.md
  docs/guides/GIT_WORKFLOW_TROUBLESHOOTING.md
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

docs(ops): add git workflow troubleshooting guide and prevent auto-format issues (#260)
  .editorconfig
  docs/README.md
  docs/guides/GIT_WORKFLOW_TROUBLESHOOTING.md
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

docs: adicionar wrapper cleanup-with-auto-discard ao Quick Reference
  README.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): extract sync filters and aggregator (phase 1/4)
  CHANGELOG.md
  audit_metrics.json
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/sync_aggregator.py
  scripts/core/cortex/sync_filters.py
  tests/core/cortex/test_sync_aggregator.py
  tests/core/cortex/test_sync_filters.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): extract sync filters and aggregator (phase 1/4) (#261)
  CHANGELOG.md
  audit_metrics.json
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/sync_aggregator.py
  scripts/core/cortex/sync_filters.py
  tests/core/cortex/test_sync_aggregator.py
  tests/core/cortex/test_sync_filters.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): integrate domain filters and aggregator (phase 2)
  CHANGELOG.md
  audit_metrics.json
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/knowledge_orchestrator.py
  scripts/core/cortex/sync_aggregator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs: add phase 2 technical report with metrics and analysis
  docs/reports/REFACTORING_PHASE2_TECHNICAL_REPORT.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): integrate domain filters and aggregator (phase 2) (#262)
  CHANGELOG.md
  audit_metrics.json
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/reports/REFACTORING_PHASE2_TECHNICAL_REPORT.md
  scripts/core/cortex/knowledge_orchestrator.py
  scripts/core/cortex/sync_aggregator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

test(cortex): add TDD tests for SyncExecutor (phase 3 - red)
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  tests/core/cortex/test_sync_executor.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(cortex): implement SyncExecutor pipeline pattern (phase 3 green)
  CHANGELOG.md
  scripts/core/cortex/sync_executor.py
  tests/core/cortex/test_sync_executor.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(test): resolve mypy type errors in sync_executor tests
  .pre-commit-config.yaml
  tests/core/cortex/test_sync_executor.py
Due: code-audit-security, cortex-audit, cortex-guardian

Refactor/knowledge orchestrator phase3 (#263)
  .pre-commit-config.yaml
  CHANGELOG.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/sync_executor.py
  tests/core/cortex/test_sync_executor.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): finalize knowledge_orchestrator decomposition (phase 4)
  CHANGELOG.md
  Makefile
  audit_metrics.json
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/knowledge_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): finalize knowledge_orchestrator decomposition (phase 4) (#264)
  CHANGELOG.md
  Makefile
  audit_metrics.json
  docs/reports/COMPLEXITY_GOD_FUNCTIONS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/knowledge_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(ci): add dependency sync check to pre-commit and doctor
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  audit_metrics.json
  docs/guides/DEPENDENCY_MAINTENANCE_GUIDE.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
  scripts/ci/verify_deps.py
  scripts/cli/doctor.py
  tests/test_dependency_alignment.py
  tests/test_dependency_safety.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(deps): enable --allow-unsafe in safe_pip utility to match CI policy
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

chore: force CI synchronization and PR update [skip ci]
  requirements/dev.in
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(ci): Implement Triple-Layer Dependency Autoimmunity Protection (#266)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  audit_metrics.json
  docs/guides/DEPENDENCY_MAINTENANCE_GUIDE.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
  scripts/ci/verify_deps.py
  scripts/cli/doctor.py
  scripts/utils/safe_pip.py
  tests/test_dependency_alignment.py
  tests/test_dependency_safety.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(deps): enforce --allow-unsafe in all fallbacks and error messages
  .github/workflows/ci.yml
  scripts/ci/verify_deps.py
  scripts/cli/doctor.py
  scripts/cli/install_dev.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(deps): repair subprocess args syntax and update dev.txt versions
  requirements/dev.txt
  scripts/ci/verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(deps): enforce --allow-unsafe in all fallbacks and error messages (#270)
  .github/workflows/ci.yml
  requirements/dev.txt
  scripts/ci/verify_deps.py
  scripts/cli/doctor.py
  scripts/cli/install_dev.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(ci): split combined subprocess arguments to fix pip-compile execution
  scripts/ci/verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(deps): implement dependency drift auto-immunity protocol with triple defense
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  scripts/ci/verify_deps.py
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(deps): implement dependency drift auto-immunity protocol with triple defense
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  Makefile.bak2
  README.md
  README.md.backup
  audit_metrics.json
  docs/reports/PR_DEPENDENCY_AUTOIMMUNITY.md
  docs/reports/TECHNICAL_REPORT_DEPENDENCY_AUTOIMMUNITY.md
  requirements/dev.txt
  scripts/audit_config.yaml
  scripts/ci/verify_deps.py
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(arch): sanitização final do chassi para estado puro v2.1
  docker-compose.yml
  src/app/main.py
Due: code-audit-security, cortex-audit, cortex-guardian

chore: update audit metrics and knowledge health report
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

test: refactor test_verify_deps to use subprocess instead of mocks for better coverage
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian

test: mark desync test as xfail due to pip-compile auto-update behavior
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian

test: remove unreliable assertion from xfail test
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian

docs: atualiza métricas de auditoria e relatório de saúde do conhecimento
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

feat: implementar autoimunidade em verify_deps para instalar pip-tools automaticamente
  scripts/audit_config.yaml
  scripts/ci/verify_deps.py
  tests/test_verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat: Implementar Protocolo de Segurança SCA v2.1 (Triple Defense)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/security/VULNERABILITY_POLICY.md
  pyproject.toml
  scripts/audit_config.yaml
  tests/test_security_audit.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(security): implement Dependency Immunity Protocol v2.2 with SHA-256 cryptographic seals
  --allow-unsafe
  CHANGELOG.md
  Makefile
  README.md
  docs/architecture/DEPENDENCY_IMMUNITY_PROTOCOL.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
  scripts/ci/verify_deps.py
  scripts/core/dependency_guardian.py
  scripts/git-hooks/pre-push
  tests/test_dependency_guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

Path conditions:
  code-audit-security: any of: \.py$
  cortex-audit: any of: \.(md|py)$ and \.(md|markdown|mdown)$, \.py$ and not (\.(j2|jinja|jinja2)$)
  cortex-guardian: any of: \.py$
  auto-doc-gen: any of: ^(scripts/cli/|scripts/core/).*\.py$ and \.py$
  cortex-neural-sync: any of: \.(md|markdown|mdown)$
