Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

code-audit-security:
  name: Auditoria de Segurança Customizada (Delta)
  entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
  language: system
  pass_filenames: true

cortex-audit:
  name: CORTEX - Auditoria de Documentação
  entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
  language: system
  pass_filenames: false

cortex-guardian:
  name: CORTEX Guardian - Bloqueia Shadow Configuration
  entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
  language: system
  pass_filenames: false

auto-doc-gen:
  name: Auto-Generate CLI Docs
  entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
  language: system
  pass_filenames: false

cortex-neural-sync:
  name: CORTEX Neural Auto-Sync
  entry: python -m scripts.cli.cortex neural index
  language: system
  pass_filenames: false
  description: Automatically updates the vector store when documentation changes.

fix(cortex): install sentence-transformers dependency and fix type hints
  scripts/core/cortex/neural/adapters/sentence_transformer.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

feat(cortex): Enable Real AI Embedding with SentenceTransformers Adapter (#241)
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/cli/neural.py
  scripts/core/cortex/neural/adapters/__init__.py
  scripts/core/cortex/neural/adapters/sentence_transformer.py
  tests/core/cortex/neural/test_sentence_transformer.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

feat(cortex): Implementar Fase 05 - Persistência com ChromaDB
  requirements/dev.in
  requirements/dev.txt
  scripts/cli/neural.py
  scripts/core/cortex/neural/adapters/__init__.py
  scripts/core/cortex/neural/adapters/chroma.py
  tests/core/cortex/neural/test_chroma_adapter.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(cortex): resolve mypy errors and sync dependencies for chroma adapter
  requirements/dev.txt
  scripts/core/cortex/neural/adapters/chroma.py
  tests/core/cortex/neural/test_chroma_adapter.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(cortex): resolve mypy cache corruption and strict type issues
  scripts/core/cortex/neural/adapters/chroma.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(test): mock heavy dependencies in sys.modules to fix CI failures
  tests/core/cortex/neural/test_chroma_adapter.py
  tests/core/cortex/neural/test_sentence_transformer.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(cortex): Implement Persistence Layer with ChromaDB Adapter (#242)
  requirements/dev.in
  requirements/dev.txt
  scripts/cli/neural.py
  scripts/core/cortex/neural/adapters/__init__.py
  scripts/core/cortex/neural/adapters/chroma.py
  tests/core/cortex/neural/test_chroma_adapter.py
  tests/core/cortex/neural/test_sentence_transformer.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(docs): auto-update knowledge health report post-merge
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

docs(cortex): Phase 6 - UX & Publicity (The AI Update v0.2.0)
  CHANGELOG.md
  README.md
  docs/architecture/HEXAGONAL_DIAGRAMS.md
  docs/guides/NEURAL_CORTEX.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cli/neural.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs(cortex): Phase 6 - UX & Publicity (The AI Update v0.2.0) (#243)
  CHANGELOG.md
  README.md
  docs/architecture/HEXAGONAL_DIAGRAMS.md
  docs/guides/NEURAL_CORTEX.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cli/neural.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

chore(makefile): enhance clean target to remove temp requirements and logs
  Makefile
Due: none

chore(makefile): enhance clean target to remove temp requirements and logs (#244)
  Makefile
Due: none

build(makefile): add sync target and venv guardrails
  CHANGELOG.md
  Makefile
  README.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
  scripts/ci/verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

build(makefile): add sync target and venv guardrails (#245)
  CHANGELOG.md
  Makefile
  README.md
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
  scripts/ci/verify_deps.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(devx): improve mutation testing UX and documentation
  CHANGELOG.md
  Makefile
  README.md
  docs/guides/MUTATION_TESTING.md
Due: cortex-audit, cortex-neural-sync

feat(devx): improve mutation testing UX and documentation (#246)
  CHANGELOG.md
  Makefile
  README.md
  docs/guides/MUTATION_TESTING.md
Due: cortex-audit, cortex-neural-sync

chore(quality): enforce xenon on root and add diff-cover
  CHANGELOG.md
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

chore(quality): enforce xenon on root and add diff-cover (#247)
  CHANGELOG.md
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

fix(makefile): restore xenon legacy exclusions and add tdd-check target
  Makefile
Due: none

chore(quality): Add TDD Guardian and improve Xenon coverage (#248)
  Makefile
Due: none

chore(quality): activate TDD Guardian in validation pipeline
  CHANGELOG.md
  Makefile
  README.md
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

chore(quality): activate TDD Guardian in validation pipeline (#249)
  CHANGELOG.md
  Makefile
  README.md
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

chore: unify quality gate in make validate
  CHANGELOG.md
  Makefile
  README.md
Due: cortex-audit, cortex-neural-sync

chore: unify quality gate in make validate (#250)
  CHANGELOG.md
  Makefile
  README.md
Due: cortex-audit, cortex-neural-sync

feat(security): implement bandit and safety scanners
  CHANGELOG.md
  Makefile
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/core/cortex/neural/adapters/chroma.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(security): implement bandit and safety scanners (#251)
  CHANGELOG.md
  Makefile
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/core/cortex/neural/adapters/chroma.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(security): add safety policy for known dependency issues
  .safety-policy.yml
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

feat(ux): implement rich table results with traceability and confidence score
  docs/guides/NEURAL_CORTEX.md
  scripts/cli/neural.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(ux): implement rich table results with traceability and confidence score (#252)
  docs/guides/NEURAL_CORTEX.md
  scripts/cli/neural.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

chore(security): migrate safety policy to v3.0 format
  .safety-policy.yml
  .safety-policy.yml.bak
  CHANGELOG.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

chore(security): migrate safety policy to v3.0 format (#253)
  .safety-policy.yml
  .safety-policy.yml.bak
  CHANGELOG.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

docs: update audit metrics and knowledge health report
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

fix(hooks): WSL compatibility - Use Python module instead of PATH-dependent cortex command
  CHANGELOG.md
  audit_metrics.json
  docs/guides/CORTEX_AUTO_HOOKS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/hooks_orchestrator.py
  tests/test_hooks_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(hooks): WSL compatibility - Use Python module instead of PATH-dependent cortex command (#254)
  CHANGELOG.md
  audit_metrics.json
  docs/guides/CORTEX_AUTO_HOOKS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/core/cortex/hooks_orchestrator.py
  tests/test_hooks_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat: Implementa TDD Guardian - Mecanismo de Aplicação Obrigatória de Testes
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  requirements/dev.txt
  scripts/hooks/tdd_guardian.py
  tests/hooks/test_tdd_guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

style(tests): fix docstring formatting (D205, D415)
  tests/hooks/test_tdd_guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat: Implementa TDD Guardian - Mecanismo de Aplicação Obrigatória de Testes (#255)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  requirements/dev.txt
  scripts/hooks/tdd_guardian.py
  tests/hooks/test_tdd_guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(git): add uncommitted changes check to post-pr-cleanup script
  scripts/git/post-pr-cleanup.sh
Due: none

feat(guardian): add support for multiple directories and warn-only mode
  .pre-commit-config.yaml
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/hooks/tdd_guardian.py
  tests/hooks/test_tdd_guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(guardian): Add support for multiple directories and warn-only mode (#256)
  .pre-commit-config.yaml
  README.md
  audit_metrics.json
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/hooks/tdd_guardian.py
  tests/hooks/test_tdd_guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

Path conditions:
  code-audit-security: any of: \.py$
  cortex-audit: any of: \.(md|py)$ and \.(md|markdown|mdown)$, \.py$ and not (\.(j2|jinja|jinja2)$)
  cortex-guardian: any of: \.py$
  auto-doc-gen: any of: ^(scripts/cli/|scripts/core/).*\.py$ and \.py$
  cortex-neural-sync: any of: \.(md|markdown|mdown)$
