Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Mypy (Type Checking)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml, --python-version=3.10]
        additional_dependencies:
          - types-PyYAML==6.0.12.20250915
          - types-requests==2.32.4.20250913
          - pydantic>=2.0
          - pydantic-settings>=2.0
        pass_filenames: true
        types: [python]
        exclude: ^(scripts/audit_dashboard\.py|tests/)

  # 4. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$
        exclude: \.(j2|jinja|jinja2)$

      - id: cortex-guardian
        name: "CORTEX Guardian - Bloqueia Shadow Configuration"
        entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
        language: system
        pass_filenames: false
        types: [python]

      - id: auto-doc-gen
        name: "Auto-Generate CLI Docs"
        entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
        language: system
        pass_filenames: false
        files: ^(scripts/cli/|scripts/core/).*\.py$
        types: [python]

      - id: cortex-neural-sync
        name: "CORTEX Neural Auto-Sync"
        entry: python -m scripts.cli.cortex neural index
        language: system
        types: [markdown]
        pass_filenames: false
        description: "Automatically updates the vector store when documentation changes."

chore(docs): raise documentation coverage threshold to 99%
  pyproject.toml
Due: none

chore(docs): raise documentation coverage threshold to 99% (#226)
  pyproject.toml
Due: none

chore(deps): update gitpython to 3.1.46 to fix sync test
  requirements/dev.txt
Due: none

docs: update knowledge health metrics auto-generated by cortex
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

docs: update knowledge health metrics auto-generated by cortex (#232)
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

ci(mutation): consolidate steps to fix artifact loss
  .github/workflows/mutation-audit.yml
Due: none

chore(deps): pin mutmut to 2.4.5 to prevent breaking changes in CI
  requirements/dev.in
  requirements/dev.txt
Due: none

perf(ci): limit mutation scope to mapper.py and add timeout
  .github/workflows/mutation-audit.yml
Due: none

ci(cost-reduction): disable scheduled mutation testing to save credits
  .github/workflows/mutation-audit.yml
Due: none

chore(sre): persist pre-push guardian hook and ignore mutation boilerplate
  scripts/core/cortex/mapper.py
  scripts/git-hooks/pre-push
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(test): ignore project root setup in mutation testing
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(test): ignore sys.path setup in mutation testing
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(deps): force update librt to 0.7.6 [skip ci]
  requirements/dev.txt
Due: none

chore(test): ignore sys.path insertion index in mutation testing
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(test): ignore logging setup in mutation testing
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(test): ignore knowledge dependency flag in mutation testing
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(test): ignore feature flags in mutation testing
  scripts/core/cortex/mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(deps): fix env and add robust unit tests
  requirements/dev.txt
  tests/test_mapper_core_unit.py
Due: code-audit-security, cortex-audit, cortex-guardian

chore(ci): finalize robust mutation testing pipeline setup
  scripts/utils/filesystem.py
  tests/test_mapper_core_unit.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(core): heal filesystem abstraction and enforce docs governance
  .github/workflows/mutation-audit.yml
  Makefile
  docs/guides/MUTATION_TESTING.md
  docs/reports/KNOWLEDGE_HEALTH.md
  html/index.html
  html/scripts/core/cortex/mapper.py.html
  requirements.tmp.302985.txt
  requirements.tmp.304782.txt
  requirements.tmp.3353.txt
  requirements.tmp.5171.txt
  requirements.tmp.5901.txt
  requirements.tmp.6611.txt
  requirements/dev.txt
  scripts/audit/scanner.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/mock_validator.py
  scripts/utils/filesystem.py
  tests/test_cortex_concurrency.py
  tests/test_filesystem_adapter.py
  tests/test_filesystem_contract.py
  tests/test_knowledge_poc.py
  tests/test_knowledge_sync_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(core): heal filesystem abstraction and enforce docs governance (#237)
  .github/workflows/mutation-audit.yml
  Makefile
  docs/guides/MUTATION_TESTING.md
  docs/reports/KNOWLEDGE_HEALTH.md
  html/index.html
  html/scripts/core/cortex/mapper.py.html
  requirements.tmp.302985.txt
  requirements.tmp.304782.txt
  requirements.tmp.3353.txt
  requirements.tmp.5171.txt
  requirements.tmp.5901.txt
  requirements.tmp.6611.txt
  requirements/dev.txt
  scripts/audit/scanner.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/mock_validator.py
  scripts/utils/filesystem.py
  tests/test_cortex_concurrency.py
  tests/test_filesystem_adapter.py
  tests/test_filesystem_contract.py
  tests/test_knowledge_poc.py
  tests/test_knowledge_sync_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(config): regenerate corrupted pyproject.toml with valid toml structure
  pyproject.toml
Due: none

fix(config): recover from pyproject.toml corruption and migrate mutmut to v3
  Makefile
  pyproject.toml
Due: none

fix(config): regenerate pyproject.toml and restore mkdocs/babel dependencies
  pyproject.toml
Due: none

chore: remove accidental temporary requirements files
  requirements.tmp.302985.txt
  requirements.tmp.304782.txt
  requirements.tmp.3353.txt
  requirements.tmp.5171.txt
  requirements.tmp.5901.txt
  requirements.tmp.6611.txt
Due: none

chore(git): ignore temporary pip-compile files
  .gitignore
Due: none

fix(config): convert mutmut paths_to_mutate from string to list to prevent iteration error
  pyproject.toml
Due: none

refactor(cortex): implement hexagonal architecture in knowledge_validator
  Makefile
  scripts/core/cortex/adapters/__init__.py
  scripts/core/cortex/adapters/reporters.py
  scripts/core/cortex/domain/__init__.py
  scripts/core/cortex/domain/validator_types.py
  scripts/core/cortex/knowledge_validator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

chore(deps): sync lockfile and add auto-immune governance script
  .coveragerc
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
  scripts/ci/verify_deps.py
  scripts/core/cortex/adapters/reporters.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

chore(ci): implement auto-formatting in make validate pipeline
  Makefile
  scripts/core/cortex/adapters/reporters.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(cortex): implement hexagonal architecture in knowledge_validator (-49% LOC) (#238)
  .coveragerc
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.in
  requirements/dev.txt
  scripts/ci/verify_deps.py
  scripts/core/cortex/adapters/__init__.py
  scripts/core/cortex/adapters/reporters.py
  scripts/core/cortex/domain/__init__.py
  scripts/core/cortex/domain/validator_types.py
  scripts/core/cortex/knowledge_validator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(doctor): resolve docstring formatting (D200) and improve diagnostics
  scripts/cli/doctor.py
  scripts/doctor.py
  scripts/utils/platform_strategy.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(doctor): allow tools execution from venv bin if not in global PATH
  scripts/cli/doctor.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

docs(cortex): add hexagonal architecture diagrams for validator
  scripts/docs/HEXAGONAL_VALIDATOR_DIAGRAMS.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(cortex): implement neural architecture scaffolding (domain & ports)
  scripts/core/cortex/neural/adapters/__init__.py
  scripts/core/cortex/neural/domain.py
  scripts/core/cortex/neural/ports.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

feat(cortex): implement neural architecture scaffolding (domain & ports) (#239)
  scripts/core/cortex/neural/adapters/__init__.py
  scripts/core/cortex/neural/domain.py
  scripts/core/cortex/neural/ports.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

feat(cortex): implement InMemoryVectorStore adapter with TDD
  scripts/core/cortex/neural/adapters/memory.py
  tests/core/__init__.py
  tests/core/cortex/__init__.py
  tests/core/cortex/neural/__init__.py
  tests/core/cortex/neural/test_memory_adapter.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(cortex): migrate VectorBridge to hexagonal architecture
  Makefile.bak2
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
  scripts/cli/neural.py
  scripts/core/cortex/neural/adapters/memory.py
  scripts/core/cortex/neural/vector_bridge.py
  tests/core/cortex/neural/test_memory_adapter.py
  tests/core/cortex/neural/test_vector_bridge.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): migrate VectorBridge to hexagonal architecture (#240)
  Makefile.bak2
  docs/reports/KNOWLEDGE_HEALTH.md
  requirements/dev.txt
  scripts/cli/neural.py
  scripts/core/cortex/neural/adapters/memory.py
  scripts/core/cortex/neural/vector_bridge.py
  tests/core/cortex/neural/test_memory_adapter.py
  tests/core/cortex/neural/test_vector_bridge.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): add Real AI with SentenceTransformer adapter
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/cli/neural.py
  scripts/core/cortex/neural/adapters/__init__.py
  scripts/core/cortex/neural/adapters/sentence_transformer.py
  tests/core/cortex/neural/test_sentence_transformer.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen
