Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Mypy (Type Checking)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml, --python-version=3.10]
        additional_dependencies:
          - types-PyYAML==6.0.12.20250915
          - types-requests==2.32.4.20250913
          - pydantic>=2.0
          - pydantic-settings>=2.0
        pass_filenames: true
        types: [python]
        exclude: ^(scripts/audit_dashboard\.py|tests/)

  # 4. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$
        exclude: \.(j2|jinja|jinja2)$

      - id: cortex-guardian
        name: "CORTEX Guardian - Bloqueia Shadow Configuration"
        entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
        language: system
        pass_filenames: false
        types: [python]

      - id: auto-doc-gen
        name: "Auto-Generate CLI Docs"
        entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
        language: system
        pass_filenames: false
        files: ^(scripts/cli/|scripts/core/).*\.py$
        types: [python]

      - id: cortex-neural-sync
        name: "CORTEX Neural Auto-Sync"
        entry: python -m scripts.cli.cortex neural index
        language: system
        types: [markdown]
        pass_filenames: false
        description: "Automatically updates the vector store when documentation changes."

fix(platform): Add Windows compatibility alert (P09) (#202)
  CHANGELOG.md
  scripts/utils/platform_strategy.py
  tests/test_platform_strategy.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(dx): Add VS Code tasks for Git automation scripts
  .gitignore
  .vscode/tasks.json
  CHANGELOG.md
  tests/test_vscode_config.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(dx): Add VS Code tasks for Git automation scripts (#203)
  .gitignore
  .vscode/tasks.json
  CHANGELOG.md
  tests/test_vscode_config.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat(cortex): add comprehensive test suite for Knowledge Node models (P31.1)
  CHANGELOG.md
  scripts/core/cortex/models.py
  tests/test_cortex_models.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): add comprehensive test suite for Knowledge Node models (P31.1) (#204)
  CHANGELOG.md
  scripts/core/cortex/models.py
  tests/test_cortex_models.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): implement network-resilient Knowledge Sync (P31.3)
  CHANGELOG.md
  scripts/core/cortex/knowledge_sync.py
  tests/test_knowledge_sync_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): implement network-resilient Knowledge Sync (P31.3) (#205)
  CHANGELOG.md
  scripts/core/cortex/knowledge_sync.py
  tests/test_knowledge_sync_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): Integrate Knowledge Node rules into cortex map command
  CHANGELOG.md
  scripts/cli/cortex.py
  scripts/core/cortex/mapper.py
  tests/test_cortex_map_knowledge.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat(cortex): Integrate Knowledge Node rules into cortex map command (#206)
  CHANGELOG.md
  scripts/cli/cortex.py
  scripts/core/cortex/mapper.py
  tests/test_cortex_map_knowledge.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs(knowledge): Add comprehensive Knowledge Node guide with Golden Paths protection
  README.md
  docs/guides/KNOWLEDGE_NODE.md
  scripts/core/cortex/knowledge_sync.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs(knowledge): Update CHANGELOG with Knowledge Node documentation entry
  CHANGELOG.md
Due: cortex-audit, cortex-neural-sync

docs(knowledge): Comprehensive Knowledge Node Documentation Guide (#207)
  CHANGELOG.md
  README.md
  docs/guides/KNOWLEDGE_NODE.md
  scripts/core/cortex/knowledge_sync.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

feat: Implementar Copier Template Engine com Smart Update
  .github/CODEOWNERS
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  copier.yml
  docker-compose.yml
  mkdocs.yml
  pyproject.toml.jinja
  tests/test_copier_template.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(template): rename CODEOWNERS to .jinja to bypass GitHub validation
  .github/CODEOWNERS.jinja
Due: none

feat: Implementar Copier Template Engine com Smart Update (#208)
  .github/CODEOWNERS.jinja
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  copier.yml
  docker-compose.yml
  mkdocs.yml
  pyproject.toml.jinja
  tests/test_copier_template.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

docs: add usage instructions for Copier template
  README.md
Due: cortex-audit, cortex-neural-sync

docs: update legacy documentation to reflect Copier usage
  docs/architecture/PROJECT_SCAFFOLDING_ARCHITECTURE.md
  docs/guides/DEV_PROD_PARITY_STRATEGY.md
  docs/guides/GIT_AUTOMATION_SCRIPTS.md
  docs/index.md
Due: cortex-audit, cortex-neural-sync

feat(ci): enforce dependency lockfile for deterministic builds
  .github/workflows/ci.yml
  CHANGELOG.md
  scripts/cli/install_dev.py
  tests/test_install_dev_ci.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(deps): resync dev.txt lockfile to match dev.in
  requirements/dev.txt
Due: none

chore: trigger ci
  requirements/dev.txt
Due: none

fix(ci): use git diff for lockfile validation to ignore metadata
  .github/workflows/ci.yml
Due: none

fix(ci): run lockfile check only on python 3.10 baseline
  .github/workflows/ci.yml
Due: none

feat(ci): enforce dependency lockfile for deterministic builds (#209)
  .github/workflows/ci.yml
  CHANGELOG.md
  requirements/dev.txt
  scripts/cli/install_dev.py
  tests/test_install_dev_ci.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs: add dependency management guide and workflow visibility
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/guides/DEPENDENCY_MANAGEMENT.md
  docs/index.md
Due: cortex-audit, cortex-neural-sync

docs: add dependency management guide and workflow visibility (#210)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/guides/DEPENDENCY_MANAGEMENT.md
  docs/index.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): extract frontmatter helpers to separate module (Iteration 1)
  scripts/cli/cortex.py
  scripts/cortex/__init__.py
  scripts/cortex/core/__init__.py
  scripts/cortex/core/frontmatter_helpers.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(cortex): migrate CLI to package structure (Iteration 2 - Final)
  docs/PR_CORTEX_MODULARIZATION.md
  docs/architecture/CORTEX_MODULARIZATION_REFACTORING.md
  pyproject.toml
  requirements/dev.txt
  scripts/cli/cortex.py
  scripts/cortex/__main__.py
  scripts/cortex/cli.py
  scripts/cortex/core/knowledge_auditor.py
  scripts/cortex/core/metadata_auditor.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): extract mapper and UI layer (Iteration 4 - Bariátrica)
  scripts/cortex/adapters/__init__.py
  scripts/cortex/adapters/ui.py
  scripts/cortex/cli.py
  scripts/cortex/core/context_mapper.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(cortex): add GuardianOrchestrator and stabilize codebase
  scripts/cortex/adapters/ui.py
  scripts/cortex/cli.py
  scripts/cortex/core/guardian_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(deps): sync lockfile with python 3.10 baseline
  requirements/dev.txt
Due: none

fix(ci): adicionar instalação de requirements/dev.txt no workflow docs
  .github/workflows/docs.yml
Due: none

fix(deps): add python-frontmatter to dev dependencies
  requirements/dev.in
  requirements/dev.txt
Due: none

Refactor/cortex modularization (#211)
  .github/workflows/docs.yml
  docs/PR_CORTEX_MODULARIZATION.md
  docs/architecture/CORTEX_MODULARIZATION_REFACTORING.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/cli/cortex.py
  scripts/cortex/__init__.py
  scripts/cortex/__main__.py
  scripts/cortex/adapters/__init__.py
  scripts/cortex/adapters/ui.py
  scripts/cortex/cli.py
  scripts/cortex/core/__init__.py
  scripts/cortex/core/context_mapper.py
  scripts/cortex/core/frontmatter_helpers.py
  scripts/cortex/core/guardian_orchestrator.py
  scripts/cortex/core/knowledge_auditor.py
  scripts/cortex/core/metadata_auditor.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): move change detection logic to KnowledgeSyncer via SyncResult
  requirements/dev.txt
  scripts/core/cortex/knowledge_sync.py
  scripts/cortex/core/metadata_auditor.py
  tests/test_knowledge_sync.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

feat(cortex): implement KnowledgeOrchestrator facade for scan and sync flows
  scripts/core/cortex/knowledge_orchestrator.py
  scripts/cortex/cli.py
  tests/test_knowledge_orchestrator.py
  tests/test_knowledge_sync_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(cortex): simplify CLI by delegating knowledge flows to orchestrator
  scripts/cortex/cli.py
Due: code-audit-security, cortex-audit, cortex-guardian

docs: update CHANGELOG with KnowledgeOrchestrator refactoring details
  CHANGELOG.md
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

refactor(cortex): implement KnowledgeOrchestrator and simplify CLI (Knowledge Slice) (#212)
  CHANGELOG.md
  scripts/core/cortex/knowledge_orchestrator.py
  scripts/core/cortex/knowledge_sync.py
  scripts/cortex/cli.py
  scripts/cortex/core/metadata_auditor.py
  tests/test_knowledge_orchestrator.py
  tests/test_knowledge_sync.py
  tests/test_knowledge_sync_resilience.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

build(infra): upgrade Makefile with environment intelligence and fix CI drift
  Makefile
  requirements/dev.txt
Due: none
