Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit

code-audit-security:
  name: Auditoria de Segurança Customizada (Delta)
  entry: python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
  language: system
  pass_filenames: true

cortex-audit:
  name: CORTEX - Auditoria de Documentação
  entry: python3 -m scripts.cli.cortex audit docs/ --fail-on-error
  language: system
  pass_filenames: false

feat(infra): enforce timeout in install scripts and fix typing deps (Task 001)
  requirements/dev.in
  requirements/dev.txt
  scripts/install_dev.py
  scripts/utils/safe_pip.py
  tests/test_install_dev_safety.py
  tests/test_knowledge_sync.py
Due: code-audit-security, cortex-audit

feat(infra): enforce timeout in install scripts and fix typing deps (Task 001) (#153)
  requirements/dev.in
  requirements/dev.txt
  scripts/install_dev.py
  scripts/utils/safe_pip.py
  tests/test_install_dev_safety.py
  tests/test_knowledge_sync.py
Due: code-audit-security, cortex-audit

feat(security): implement log redaction for sensitive secrets (Task 002)
  scripts/utils/logger.py
  tests/test_logger_secrets.py
Due: code-audit-security, cortex-audit

feat(security): implement log redaction for sensitive secrets (Task 002) (#154)
  scripts/utils/logger.py
  tests/test_logger_secrets.py
Due: code-audit-security, cortex-audit

feat(security): enforce hash generation in pip-compile (Task 003)
  scripts/utils/safe_pip.py
  tests/test_safe_pip_integrity.py
Due: code-audit-security, cortex-audit

feat(security): enforce hash generation in pip-compile (Task 003) (#155)
  scripts/utils/safe_pip.py
  tests/test_safe_pip_integrity.py
Due: code-audit-security, cortex-audit

feat(arch): add dependency audit tool and architectural report (Task 004)
  docs/architecture/DEPENDENCY_DIAGRAM_SNAPSHOT.md
  docs/guides/DEPENDENCY_MAINTENANCE_GUIDE.md
  docs/history/task_004_dependencies/TASK_004_DEPENDENCY_ANALYSIS.md
  docs/history/task_004_dependencies/TASK_004_SUMARIO_EXECUTIVO.md
  docs/history/task_004_dependencies/audit_dependency_report.json
  scripts/audit_dependencies.py
Due: code-audit-security, cortex-audit

feat(arch): add dependency audit tool and architectural report (Task 004) (#156)
  docs/architecture/DEPENDENCY_DIAGRAM_SNAPSHOT.md
  docs/guides/DEPENDENCY_MAINTENANCE_GUIDE.md
  docs/history/task_004_dependencies/TASK_004_DEPENDENCY_ANALYSIS.md
  docs/history/task_004_dependencies/TASK_004_SUMARIO_EXECUTIVO.md
  docs/history/task_004_dependencies/audit_dependency_report.json
  scripts/audit_dependencies.py
Due: code-audit-security, cortex-audit

chore(infra): harden ci/cd with dependency audit schedule and codeowners
  .github/CODEOWNERS
  .github/workflows/audit_schedule.yml
  .github/workflows/ci.yml
  docs/history/task_004_dependencies/HARDENING_IMPLEMENTATION_REPORT.md
Due: cortex-audit

chore(infra): harden ci/cd with dependency audit schedule and codeowners (#157)
  .github/CODEOWNERS
  .github/workflows/audit_schedule.yml
  .github/workflows/ci.yml
  docs/history/task_004_dependencies/HARDENING_IMPLEMENTATION_REPORT.md
Due: cortex-audit

feat(security): enforce git hooks installation and validation (Task 005)
  audit_metrics.json
  docs/reference/CLI_COMMANDS.md
  requirements/dev.txt
  scripts/cli/doctor.py
  scripts/cli/install_dev.py
  tests/test_doctor_hooks_criticality.py
  tests/test_install_dev_hooks.py
Due: code-audit-security, cortex-audit

docs: update CLI_COMMANDS.md (auto-generated by hooks)
  docs/reference/CLI_COMMANDS.md
Due: cortex-audit

fix(test): mock local env in git hooks test to avoid ci skip
  tests/test_doctor_hooks_criticality.py
Due: code-audit-security, cortex-audit

feat(security): enforce git hooks installation and validation (Task 005) (#158)
  audit_metrics.json
  docs/reference/CLI_COMMANDS.md
  requirements/dev.txt
  scripts/cli/doctor.py
  scripts/cli/install_dev.py
  tests/test_doctor_hooks_criticality.py
  tests/test_install_dev_hooks.py
Due: code-audit-security, cortex-audit

fix(ci): resolve git hook conflict in auto-doc-gen output
  CHANGELOG.md
  docs/architecture/CODE_AUDIT.md
  docs/architecture/CORTEX_INDICE.md
  docs/guides/MOCK_SYSTEM.md
  docs/reference/CLI_COMMANDS.md
  finalize_visibility_task.sh
  scripts/cli/cortex.py
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

fix(ci): resolve git hook conflict in auto-doc-gen output (#159)
  CHANGELOG.md
  docs/architecture/CODE_AUDIT.md
  docs/architecture/CORTEX_INDICE.md
  docs/guides/MOCK_SYSTEM.md
  docs/reference/CLI_COMMANDS.md
  finalize_visibility_task.sh
  scripts/cli/cortex.py
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

feat(core): implement link scanner and knowledge graph integration (Task 007)
  docs/architecture/CORTEX_FASE03_DIAGRAMS.py
  docs/architecture/CORTEX_FASE03_EXECUTIVE_SUMMARY.md
  docs/architecture/CORTEX_FASE03_LINK_SCANNER_DESIGN.md
  docs/architecture/CORTEX_FASE03_PRODUCTION_SUMMARY.md
  docs/architecture/CORTEX_FASE03_README.md
  finalize_visibility_task.sh
  scripts/core/cortex/__init__.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/link_analyzer.py
  scripts/core/cortex/models.py
  tests/test_link_analyzer.py
  tests/test_link_analyzer_integration.py
Due: code-audit-security, cortex-audit

feat(core): Link Resolver Implementation (Task 008)
  docs/architecture/CORTEX_FASE03_LINK_RESOLVER_DESIGN.md
  pyproject.toml
  scripts/core/cortex/link_resolver.py
  scripts/core/cortex/mapper.py
  scripts/core/cortex/models.py
  tests/test_link_resolver.py
Due: code-audit-security, cortex-audit

feat(core): Link Resolver Implementation (Task 008) (#160)
  docs/architecture/CORTEX_FASE03_LINK_RESOLVER_DESIGN.md
  pyproject.toml
  scripts/core/cortex/link_resolver.py
  scripts/core/cortex/mapper.py
  scripts/core/cortex/models.py
  tests/test_link_resolver.py
Due: code-audit-security, cortex-audit

feat(core): implement knowledge validator and health report (Task 009)
  docs/architecture/CORTEX_FASE03_VALIDATOR_DESIGN.md
  docs/architecture/CORTEX_FASE03_VALIDATOR_EXECUTIVE_SUMMARY.md
  docs/architecture/CORTEX_INDICE.md
  docs/reference/CLI_COMMANDS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cli/cortex.py
  scripts/core/cortex/__init__.py
  scripts/core/cortex/knowledge_validator.py
  scripts/core/cortex/models.py
  tests/test_knowledge_validator.py
Due: code-audit-security, cortex-audit

feat(core): implement knowledge validator and health report (Task 009) (#161)
  docs/architecture/CORTEX_FASE03_VALIDATOR_DESIGN.md
  docs/architecture/CORTEX_FASE03_VALIDATOR_EXECUTIVE_SUMMARY.md
  docs/architecture/CORTEX_INDICE.md
  docs/reference/CLI_COMMANDS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cli/cortex.py
  scripts/core/cortex/__init__.py
  scripts/core/cortex/knowledge_validator.py
  scripts/core/cortex/models.py
  tests/test_knowledge_validator.py
Due: code-audit-security, cortex-audit

ci: enforce security audit in pipeline (Task 006)
  .github/workflows/ci.yml
Due: none

fix(ci): ignore audit metrics artifacts in dirty check
  .github/workflows/ci.yml
Due: none

ci: enforce security audit in pipeline (Task 006) (#162)
  .github/workflows/ci.yml
Due: none

docs(arch): add comprehensive security strategy documentation (Task 010)
  docs/architecture/SECURITY_STRATEGY.md
Due: cortex-audit

docs(arch): add comprehensive security strategy documentation (Task 010) (#163)
  docs/architecture/SECURITY_STRATEGY.md
Due: cortex-audit

feat(docs): Add dynamic README generation with drift detection
  .pre-commit-config.yaml
  docs/reference/CLI_COMMANDS.md
  docs/reference/DYNAMIC_README.md
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/templates/CONTRIBUTING.md.j2
  docs/templates/README.md.j2
  pyproject.toml
  scripts/cli/cortex.py
  scripts/core/cortex/readme_generator.py
  scripts/core/cortex/scanner.py
Due: code-audit-security, cortex-audit

fix(core): remove redundant type cast in readme generator
  scripts/core/cortex/readme_generator.py
  tests/test_cortex_scanner.py
Due: code-audit-security, cortex-audit

fix(core): add tomli fallback for python 3.10 compatibility
  .pre-commit-config.yaml
  scripts/core/cortex/knowledge_sync.py
  scripts/core/cortex/readme_generator.py
Due: code-audit-security, cortex-audit

Feat/docs governance drift detection (#168)
  .pre-commit-config.yaml
  docs/reference/CLI_COMMANDS.md
  docs/reference/DYNAMIC_README.md
  docs/reports/KNOWLEDGE_HEALTH.md
  docs/templates/CONTRIBUTING.md.j2
  docs/templates/README.md.j2
  pyproject.toml
  scripts/cli/cortex.py
  scripts/core/cortex/knowledge_sync.py
  scripts/core/cortex/readme_generator.py
  scripts/core/cortex/scanner.py
  tests/test_cortex_scanner.py
Due: code-audit-security, cortex-audit

feat(neural): setup vector bridge skeleton and dependencies (Task 010)
  README.md
  docs/architecture/CORTEX_FASE04_VECTOR_STORE_DESIGN.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  scripts/core/cortex/neural/__init__.py
  scripts/core/cortex/neural/models.py
  scripts/core/cortex/neural/vector_bridge.py
Due: code-audit-security, cortex-audit

feat(neural): implement vector bridge logic (chunking, indexing, query)
  scripts/core/cortex/neural/vector_bridge.py
Due: code-audit-security, cortex-audit

feat(neural): implement neural cli commands (index, ask)
  scripts/cli/cortex.py
  scripts/cli/neural.py
Due: code-audit-security, cortex-audit

fix(neural): Corrige colisão de IDs no ChromaDB com índice global
  scripts/core/cortex/neural/vector_bridge.py
Due: code-audit-security, cortex-audit

feat(cortex): Adiciona suporte completo ao sistema de conhecimento
  docs/knowledge/example-kno-001.md
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/models.py
  tests/test_knowledge_models.py
  tests/test_knowledge_scanner.py
  tests/test_knowledge_sync.py
  tests/test_knowledge_validator.py
  tests/test_link_analyzer_integration.py
  tests/test_link_resolver.py
Due: code-audit-security, cortex-audit

feat(core): Neural Interface & Vector Bridge Implementation (Task 010) (#169)
  README.md
  docs/architecture/CORTEX_FASE04_VECTOR_STORE_DESIGN.md
  docs/knowledge/example-kno-001.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  scripts/cli/cortex.py
  scripts/cli/neural.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/models.py
  scripts/core/cortex/neural/__init__.py
  scripts/core/cortex/neural/models.py
  scripts/core/cortex/neural/vector_bridge.py
  tests/test_knowledge_models.py
  tests/test_knowledge_scanner.py
  tests/test_knowledge_sync.py
  tests/test_knowledge_validator.py
  tests/test_link_analyzer_integration.py
  tests/test_link_resolver.py
Due: code-audit-security, cortex-audit

docs(guide): Adiciona protocolo padrão pós PR merge
  docs/guides/POST_PR_MERGE_PROTOCOL.md
Due: cortex-audit

docs(guide): Corrige formatação do protocolo pós-PR
  docs/guides/POST_PR_MERGE_PROTOCOL.md
Due: cortex-audit

docs(guide): Adiciona protocolo para push direto na main
  docs/guides/DIRECT_PUSH_PROTOCOL.md
Due: cortex-audit

docs(guide): Corrige formatação do protocolo de push direto
  docs/guides/DIRECT_PUSH_PROTOCOL.md
Due: cortex-audit

Path conditions:
  code-audit-security: any of: \.py$
  cortex-audit: any of: \.(md|py)$ and \.(md|markdown|mdown)$, \.py$
