Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

code-audit-security:
  name: Auditoria de Segurança Customizada (Delta)
  entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
  language: system
  pass_filenames: true

cortex-audit:
  name: CORTEX - Auditoria de Documentação
  entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
  language: system
  pass_filenames: false

cortex-guardian:
  name: CORTEX Guardian - Bloqueia Shadow Configuration
  entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
  language: system
  pass_filenames: false

auto-doc-gen:
  name: Auto-Generate CLI Docs
  entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
  language: system
  pass_filenames: false

cortex-neural-sync:
  name: CORTEX Neural Auto-Sync
  entry: python -m scripts.cli.cortex neural index
  language: system
  pass_filenames: false
  description: Automatically updates the vector store when documentation changes.

chore(ci): add debug step to investigate missing dependencies
  .github/workflows/ci.yml
Due: none

fix(deps): align lockfile with strict test expectations and sync metrics
  audit_metrics.json
Due: none

feat(infra): implement autoimmune check for type stubs in doctor
  requirements/dev.txt
  scripts/cli/doctor.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

fix(infra): enforce relative paths in pip-compile to fix CI sync
  requirements/dev.txt
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(lint): use hybrid noqa directive to satisfy ruff and security auditor
  scripts/cli/doctor.py
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(cortex): harden init command with robust frontmatter handling and permission checks
  scripts/core/cortex/project_orchestrator.py
  tests/test_project_orchestrator_init.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(deps): disable hash generation to align with current sprint scope
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian

refactor(cortex): extract UI and interaction logic from monolithic CLI
  scripts/cortex/adapters/ui.py
  scripts/cortex/cli.py
  scripts/cortex/core/interaction_service.py
  tests/test_interaction_service.py
Due: code-audit-security, cortex-audit, cortex-guardian

refactor(cortex/cli): extract UI logic from 5 commands to UIPresenter
  scripts/cortex/adapters/ui.py
  scripts/cortex/cli.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(cortex): complete hexagonal refactor of CLI with DI and UI Adapter
  .gitignore
  docs/architecture/ADR_005_CLI_HEXAGONAL_REFACTOR.md
  docs/history/PHASE3_ROADMAP_HARDENING.md
  scripts/audit/plugins.py
  scripts/ci_recovery/executor.py
  scripts/cli/install_dev.py
  scripts/cli/upgrade_python.py
  scripts/core/mock_ci/git_ops.py
  scripts/cortex/cli.py
  scripts/git_sync/sync_logic.py
  scripts/install_dev.py
  tests/test_audit_memory.py
  tests/test_ui_adapter.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(docs): enforce kebab-case id in ADR-005 and finalize auto-immune setup
  Makefile
  docs/architecture/ADR_005_CLI_HEXAGONAL_REFACTOR.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): Ciclo 4 - Eliminação completa de UI leaks e fortalecimento arquitetural
  scripts/cortex/adapters/ui.py
  scripts/cortex/cli.py
  tests/test_ui_adapter.py
Due: code-audit-security, cortex-audit, cortex-guardian

docs(cortex): add cycle 4 delivery report and update metrics
  audit_metrics.json
  docs/history/CICLO_4_ENTREGA_FINAL.md
Due: cortex-audit, cortex-neural-sync

fix(docs): add missing metadata to cycle 4 report and enforce strict governance in pre-commit
  .pre-commit-config.yaml
  docs/history/CICLO_4_ENTREGA_FINAL.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): atomize CLI into domain-specific modules (Cycle 5)
  docs/reports/CICLO5_CLI_ATOMIZATION_FINAL.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cortex/cli.py
  scripts/cortex/commands/__init__.py
  scripts/cortex/commands/config.py
  scripts/cortex/commands/docs.py
  scripts/cortex/commands/guardian.py
  scripts/cortex/commands/knowledge.py
  scripts/cortex/commands/setup.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(cortex): resolve lint E501, import paths and audit metadata in cycle 5
  scripts/cortex/cli.py
  scripts/cortex/commands/config.py
  scripts/cortex/commands/guardian.py
Due: code-audit-security, cortex-audit, cortex-guardian

chore: add auto-generated KNOWLEDGE_HEALTH.md to gitignore
  .gitignore
Due: none

fix(tests): exempt auto-generated KNOWLEDGE_HEALTH.md from strict governance checks
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(tests): add comprehensive integration test suite for Cortex CLI commands
  .github/workflows/ci.yml
  tests/test_ci_integrity.py
  tests/test_cortex_cli_commands.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(ci): migrate to CliRunner, harden config tests and fix audit encoding
  docs/reports/KNOWLEDGE_HEALTH.md
  tests/test_ci_integrity.py
  tests/test_cortex_cli_commands.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(cortex): exclude auto-generated KNOWLEDGE_HEALTH.md from audit orchestrator
  scripts/core/cortex/audit_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

docs: update references and guides for CLI atomization (Publicity Filter)
  CHANGELOG.md
  docs/guides/testing.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cortex/commands/docs.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

docs: update references and guides for CLI atomization (Publicity Filter) (#220)
  CHANGELOG.md
  docs/guides/testing.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/cortex/commands/docs.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

ci: implement static complexity analysis (xenon + ruff) to prevent god functions
  Makefile
  docs/guides/ENGINEERING_STANDARDS.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

fix(deps): sync dev.txt with CI pip-compile (--strip-extras)
  requirements/dev.txt
Due: none

chore(ci): baseline complexity checks (exclude known legacy debt)
  Makefile
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/audit/analyzer.py
  scripts/cli/audit.py
  scripts/cli/install_dev.py
  scripts/cli/mock_ci.py
  scripts/cli/mock_generate.py
  scripts/core/cortex/knowledge_orchestrator.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/knowledge_validator.py
  scripts/core/cortex/mapper.py
  scripts/core/cortex/metadata.py
  scripts/core/cortex/migrate.py
  scripts/core/mock_ci/git_ops.py
  scripts/cortex/adapters/ui.py
  scripts/cortex/commands/docs.py
  scripts/cortex/commands/setup.py
  scripts/git_sync/sync_logic.py
  tests/test_dependency_alignment.py
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

fix(deps): add missing type stubs (yaml, requests) to satisfy mypy strict mode
  .github/workflows/ci.yml
  docs/reports/KNOWLEDGE_HEALTH.md
Due: cortex-audit, cortex-neural-sync

ci: Complexity Vaccine Implementation (McCabe + Xenon) (#221)
  .github/workflows/ci.yml
  Makefile
  docs/guides/ENGINEERING_STANDARDS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/audit/analyzer.py
  scripts/cli/audit.py
  scripts/cli/install_dev.py
  scripts/cli/mock_ci.py
  scripts/cli/mock_generate.py
  scripts/core/cortex/knowledge_orchestrator.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/knowledge_validator.py
  scripts/core/cortex/mapper.py
  scripts/core/cortex/metadata.py
  scripts/core/cortex/migrate.py
  scripts/core/mock_ci/git_ops.py
  scripts/cortex/adapters/ui.py
  scripts/cortex/commands/docs.py
  scripts/cortex/commands/setup.py
  scripts/git_sync/sync_logic.py
  tests/test_dependency_alignment.py
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs: document quality suite and consolidate architectural guardrails
  CHANGELOG.md
  Makefile
  README.md
  docs/guides/ENGINEERING_STANDARDS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

ci(workflow): upgrade actions to v4/v5 and deduplicate caching strategies
  .github/workflows/ci.yml
  Makefile
  docs/guides/ENGINEERING_STANDARDS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  scripts/ci/audit_workflows.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

feat: Quality Suite Consolidation - Architectural Guardrails & Code Health (#222)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/guides/ENGINEERING_STANDARDS.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/ci/audit_workflows.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

test(mutation): add mutmut for mutation testing capabilities
  CHANGELOG.md
  Makefile
  docs/guides/testing.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

fix(deps): sync requirements/dev.txt with CI (strip extras)
  requirements/dev.txt
Due: none

fix(deps): add explicit tomlkit dependency and enable deptry for scripts
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: none

fix(deps): enforce --strip-extras in lockfile generation to match CI
  requirements/dev.txt
Due: none

fix(ci): enforce --strip-extras and deterministic headers in lockfile generation
  scripts/audit_config.yaml
  scripts/cli/install_dev.py
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

test(mutation): add mutmut for mutation testing capabilities (#223)
  CHANGELOG.md
  Makefile
  docs/guides/testing.md
  docs/reports/KNOWLEDGE_HEALTH.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  scripts/audit_config.yaml
  scripts/cli/install_dev.py
  scripts/utils/safe_pip.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

ci(mutation): add scheduled nightly mutation testing workflow
  .github/workflows/mutation-audit.yml
  Makefile
  docs/guides/testing.md
Due: cortex-audit, cortex-neural-sync

ci(mutation): add scheduled nightly mutation testing workflow (#224)
  .github/workflows/mutation-audit.yml
  Makefile
  docs/guides/testing.md
Due: cortex-audit, cortex-neural-sync

chore(docs): raise documentation coverage threshold to 99%
  pyproject.toml
Due: none

Path conditions:
  code-audit-security: any of: \.py$
  cortex-audit: any of: \.(md|py)$ and \.(md|markdown|mdown)$, \.py$ and not (\.(j2|jinja|jinja2)$)
  cortex-guardian: any of: \.py$
  auto-doc-gen: any of: ^(scripts/cli/|scripts/core/).*\.py$ and \.py$
  cortex-neural-sync: any of: \.(md|markdown|mdown)$
