Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Mypy (Type Checking)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml, --python-version=3.10]
        additional_dependencies:
          - types-PyYAML==6.0.12.20250915
          - types-requests==2.32.4.20250913
          - pydantic>=2.0
          - pydantic-settings>=2.0
        pass_filenames: true
        types: [python]
        exclude: ^(scripts/audit_dashboard\.py|tests/)

  # 4. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: env PRE_COMMIT=1 python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: env PRE_COMMIT=1 python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$
        exclude: \.(j2|jinja|jinja2)$

      - id: cortex-guardian
        name: "CORTEX Guardian - Bloqueia Shadow Configuration"
        entry: python3 -m scripts.cli.cortex guardian check . --fail-on-error
        language: system
        pass_filenames: false
        types: [python]

      - id: auto-doc-gen
        name: "Auto-Generate CLI Docs"
        entry: env PRE_COMMIT=1 python3 scripts/core/doc_gen.py
        language: system
        pass_filenames: false
        files: ^(scripts/cli/|scripts/core/).*\.py$
        types: [python]

      - id: cortex-neural-sync
        name: "CORTEX Neural Auto-Sync"
        entry: python -m scripts.cli.cortex neural index
        language: system
        types: [markdown]
        pass_filenames: false
        description: "Automatically updates the vector store when documentation changes."

fix(infra): align Makefile and lockfile header with CI expectations
  Makefile
  requirements/dev.txt
Due: none

build(infra): upgrade Makefile with environment intelligence and fix CI drift (#213)
  Makefile
Due: none

feat(cortex): implement logic for project initialization and migration in ProjectOrchestrator
  scripts/core/cortex/models.py
  scripts/core/cortex/project_orchestrator.py
  tests/test_project_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen

refactor(cortex): simplify CLI by delegating lifecycle flows to ProjectOrchestrator
  requirements/dev.txt
  scripts/cortex/cli.py
Due: code-audit-security, cortex-audit, cortex-guardian

build(deps): regenerate lockfile with Python 3.10 for CI compatibility
  requirements/dev.txt
Due: none

refactor(cortex): simplify CLI by delegating lifecycle flows to ProjectOrchestrator (#214)
  scripts/cortex/cli.py
Due: code-audit-security, cortex-audit, cortex-guardian

perf(ci): enable pip caching and implement CI-aware install-dev
  .github/workflows/ci.yml
  Makefile
Due: none

refactor: reorganização do Cortex com orquestrador centralizado e remoção de CLI duplicado
  .github/PR_CORTEX_ORCHESTRATOR.md
  .github/PR_DESCRIPTION.md
  .pre-commit-config.yaml
  CI_PERFORMANCE_AUDIT_REPORT.md
  docs/architecture/CORTEX_MODULARIZATION_REFACTORING.md
  scripts/cli/cortex.py
  scripts/core/cortex/project_orchestrator.py.backup
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

perf(ci): decouple matrix jobs and implement pytest caching
  .github/workflows/ci.yml
  CI_PERFORMANCE_AUDIT_REPORT.md
Due: cortex-audit, cortex-neural-sync

fix(ci): fix entry point path and enforce true parallel topology
  .github/workflows/ci.yml
Due: none

fix(deps): add types-requests and typer for CORTEX validation
  requirements/dev.in
  requirements/dev.txt
Due: none

fix(ci): align lockfile validation with Python 3.10 baseline and clean dev.txt metadata
  .github/workflows/ci.yml
  requirements/dev.txt
Due: none

refactor(scripts): reorganize git scripts into scripts/git/ subdirectory
  .python-version
  .vscode/tasks.json
  CI_PERFORMANCE_AUDIT_REPORT_OLD.md
  audit_metrics.json
  docs/guides/DIRECT_PUSH_PROTOCOL.md
  docs/guides/GIT_AUTOMATION_SCRIPTS.md
  docs/guides/GIT_SYNC_GUIDE.md
  docs/guides/POST_PR_MERGE_PROTOCOL.md
  docs/guides/PROTECTED_BRANCH_WORKFLOW.md
  scripts/git/direct-push-main.sh
  scripts/git/post-pr-cleanup.sh
  scripts/git/sync-all-branches.sh
  scripts/git/update-branches.sh
  scripts/git/update-local.sh
  scripts/git/update-main.sh
  tests/test_vscode_config.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

fix(infra): resolve path regressions, module errors, and sync lockfile
  .github/workflows/docs.yml
  tests/test_vscode_config.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(ci): ensure pytest availability in cached environments and update script paths
  .github/workflows/ci.yml
Due: none

fix(ci): add tomlkit and frontmatter to resilience step to fix cached env failures
  .github/workflows/ci.yml
Due: none

refactor(cortex): finalize config and hooks modularization
  docs/reports/CORTEX_CLI_CONFIG_HOOKS_MAPPING_REPORT.md
  docs/reports/CORTEX_ORCHESTRATORS_RED_PHASE_REPORT.md
  docs/reports/ETAPA_02_ENTREGA_FINAL.md
  docs/reports/ETAPA_02_RESUMO_EXECUTIVO.md
  scripts/core/cortex/config.py
  scripts/core/cortex/config_orchestrator.py
  scripts/core/cortex/hooks_orchestrator.py
  scripts/cortex/cli.py
  tests/test_config_orchestrator.py
  tests/test_hooks_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

docs(cortex): fix audit violations and update legacy references
  docs/PR_CORTEX_MODULARIZATION.md
  docs/architecture/CORTEX_ARVORE_ARQUIVOS.md
  docs/architecture/CORTEX_CHECKLIST_IMPLEMENTACAO.md
  docs/architecture/CORTEX_MODULARIZATION_REFACTORING.md
  docs/architecture/CORTEX_RESUMO_EXECUTIVO.md
  docs/architecture/CORTEX_ROOT_LOCKDOWN.md
  docs/architecture/VISIBILITY_GUARDIAN_DESIGN.md
  docs/guides/ATOMIC_COMMIT_PROTOCOL.md
  docs/guides/CORTEX_AUTO_HOOKS.md
  docs/guides/CORTEX_INTROSPECTION_SYSTEM.md
  docs/guides/CORTEX_PARALLEL_MODE.md
  docs/guides/FAIL_FAST_PHILOSOPHY.md
  docs/guides/GIT_SYNC_GUIDE.md
  docs/guides/KNOWLEDGE_NODE_MANUAL.md
  docs/guides/OPERATIONAL_TROUBLESHOOTING.md
  docs/guides/logging.md
  docs/history/PHASE2_KNOWLEDGE_NODE_POSTMORTEM.md
  docs/history/sprint_2_cortex/IMPLEMENTATION_SUMMARY.md
  docs/history/sprint_4/HOOKS_IMPLEMENTATION.md
  docs/history/sprint_4/SPRINT4_MYPY_AUDIT.md
  docs/history/task_004_dependencies/TASK_004_DEPENDENCY_ANALYSIS.md
  docs/history/visibility_guardian_orphan_detection_test.md
  docs/reference/CLI_COMMANDS.md
  docs/reference/DYNAMIC_README.md
  docs/reports/CI_PERFORMANCE_AUDIT_REPORT.md
  docs/reports/CI_PERFORMANCE_AUDIT_REPORT_OLD.md
  docs/reports/CORTEX_CLI_CONFIG_HOOKS_MAPPING_REPORT.md
  docs/reports/CORTEX_ORCHESTRATORS_RED_PHASE_REPORT.md
  docs/reports/ETAPA_02_ENTREGA_FINAL.md
  docs/reports/ETAPA_02_RESUMO_EXECUTIVO.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): extract audit logic to AuditOrchestrator
  docs/architecture/AUDIT_ORCHESTRATOR_DESIGN.md
  docs/history/refactor_audit_orchestrator_report.md
  scripts/core/cortex/audit_orchestrator.py
  scripts/core/cortex/models.py
  scripts/cortex/cli.py
  tests/test_audit_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): extract audit logic to AuditOrchestrator
  docs/architecture/AUDIT_ORCHESTRATOR_DESIGN.md
  docs/history/refactor_audit_orchestrator_report.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): extract audit logic to AuditOrchestrator
  docs/history/refactor_audit_orchestrator_report.md
Due: cortex-audit, cortex-neural-sync

refactor(cortex): Extract audit logic to AuditOrchestrator (Hexagonal Architecture) (#216)
  docs/architecture/AUDIT_ORCHESTRATOR_DESIGN.md
  docs/history/refactor_audit_orchestrator_report.md
  scripts/core/cortex/audit_orchestrator.py
  scripts/core/cortex/models.py
  scripts/cortex/cli.py
  tests/test_audit_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

test(governance): add Policy as Code suite
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

test(governance): add clean Policy as Code suite
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(test): align governance tests with cortex implementation
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

test(governance): Add Policy as Code suite to prevent governance regressions (#217)
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

refactor(cortex): extract generate logic to GenerationOrchestrator
  docs/history/refactor_generate_orchestrator_report.md
  scripts/core/cortex/generation_orchestrator.py
  scripts/core/cortex/models.py
  scripts/cortex/cli.py
  tests/test_generation_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

refactor(cortex): extract generate logic to GenerationOrchestrator (#218)
  docs/history/refactor_generate_orchestrator_report.md
  scripts/core/cortex/generation_orchestrator.py
  scripts/core/cortex/models.py
  scripts/cortex/cli.py
  tests/test_generation_orchestrator.py
Due: code-audit-security, cortex-audit, cortex-guardian, auto-doc-gen, cortex-neural-sync

test(governance): enforce frontmatter policy on entire project root
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

refactor(docs): unify frontmatter metadata to strict type/status standard
  docs/history/refactor_generate_orchestrator_report.md
  scripts/maintenance/migrate_frontmatter.py
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian, cortex-neural-sync

test(governance): sync local validation strictness with CI auditor requirements
  tests/test_governance_policies.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(docs): add missing metadata fields to history report
  docs/history/refactor_generate_orchestrator_report.md
Due: cortex-audit, cortex-neural-sync

fix(ci): add ruff & babel deps + implement dependency alignment guardian
  pyproject.toml
  requirements/dev.txt
  tests/test_dependency_alignment.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(deps): sync requirements lockfile + add autoimune sync test
  requirements/dev.txt
  tests/test_dependency_alignment.py
Due: code-audit-security, cortex-audit, cortex-guardian

feat(test): add pip-compile based lockfile integrity check
  scripts/audit_config.yaml
  tests/test_dependency_alignment.py
Due: code-audit-security, cortex-audit, cortex-guardian

test: mark hash enforcement test as xfail (TDD RED)
  tests/test_safe_pip_integrity.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(ci): align lockfile check command and relax tdd strictness
  .github/workflows/ci.yml
  Makefile
  requirements/dev.txt
  scripts/audit_config.yaml
  scripts/utils/safe_pip.py
  tests/test_dependency_alignment.py
  tests/test_safe_pip_integrity.py
Due: code-audit-security, cortex-audit, cortex-guardian

fix(ci): ignore pip-compile header command in lockfile check
  .github/workflows/ci.yml
Due: none

fix(deps): add missing type stubs and pydantic-settings for CI compliance
  docs/reports/MYPY_DEBUG_REPORT.md
  requirements/dev.in
  requirements/dev.txt
Due: cortex-audit, cortex-neural-sync

chore(docs): remove temporary debug report to fix governance check
  docs/reports/MYPY_DEBUG_REPORT.md
Due: cortex-audit, cortex-neural-sync
