Repository Ismael-1712/python-template-profissional: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-audit-security, cortex-audit

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Define os "porteiros" que rodam antes de cada commit

repos:
  # 1. Ganchos Padrão (Verifica arquivos que não são Python)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # Impede commit de arquivos > 5MB
      - id: check-toml              # Valida pyproject.toml
      - id: check-yaml              # Valida .yml
        args: [--unsafe]            # Permite tags customizadas do MkDocs (CRÍTICO)
      - id: end-of-file-fixer       # Garante uma linha em branco no final
      - id: trailing-whitespace     # Remove espaços em branco

  # 2. Ruff (O Linter e Formatador)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6  # ⚠️ MANTER SINCRONIZADO COM requirements/dev.txt
    hooks:
      - id: ruff-format # Roda o formatador (substituto do Black)
      - id: ruff        # Roda o linter (substituto do Flake8)

  # 3. Nosso Auditor Customizado (O "Sistema de Auditoria")
  - repo: local
    hooks:
      - id: code-audit-security
        name: "Auditoria de Segurança Customizada (Delta)"
        entry: python3 scripts/cli/audit.py --config scripts/audit_config.yaml --fail-on HIGH --quiet
        language: system
        pass_filenames: true
        types: [python]

      - id: cortex-audit
        name: "CORTEX - Auditoria de Documentação"
        entry: python3 -m scripts.cli.cortex audit docs/ --fail-on-error
        language: system
        pass_filenames: false
        types_or: [markdown, python]
        files: \.(md|py)$

chore(tests): aplica tipagem estrita (mypy) nos testes [P16] (#136)
  tests/test_filesystem_adapter.py
  tests/test_utils_atomic.py
Due: code-audit-security, cortex-audit

ci(mypy): ativa verificação de tipos na pasta tests [P16-CI]
  Makefile
  pyproject.toml
Due: none

ci(mypy): ativa verificação de tipos na pasta tests [P16-CI] (#137)
  Makefile
  pyproject.toml
Due: none

refactor(models): converte strings mágicas para Enums estritos [P29]
  scripts/audit/models.py
  scripts/cli/audit.py
  scripts/core/mock_ci/checker.py
  scripts/core/mock_ci/models.py
  tests/test_audit_analyzer.py
  tests/test_audit_memory.py
  tests/test_mock_ci_models.py
Due: code-audit-security, cortex-audit

refactor(models): converte strings mágicas para Enums estritos [P29] (#138)
  scripts/audit/models.py
  scripts/cli/audit.py
  scripts/core/mock_ci/checker.py
  scripts/core/mock_ci/models.py
  tests/test_audit_analyzer.py
  tests/test_audit_memory.py
  tests/test_mock_ci_models.py
Due: code-audit-security, cortex-audit

refactor(audit): converte 'category' e dict keys para Enums [P29]
  scripts/audit/models.py
  scripts/audit_dashboard/models.py
  scripts/cli/audit.py
  tests/test_audit_analyzer.py
  tests/test_audit_memory.py
Due: code-audit-security, cortex-audit

refactor(audit): converte 'category' e dict keys para Enums [P29] (#139)
  scripts/audit/models.py
  scripts/audit_dashboard/models.py
  scripts/cli/audit.py
  tests/test_audit_analyzer.py
  tests/test_audit_memory.py
Due: code-audit-security, cortex-audit

docs(standards): documenta padrão de Enums vs Magic Strings [P29]
  CHANGELOG.md
  docs/architecture/CODE_AUDIT.md
  docs/guides/ENGINEERING_STANDARDS.md
Due: cortex-audit

Docs/p29 enums (#140)
  CHANGELOG.md
  docs/architecture/CODE_AUDIT.md
  docs/guides/ENGINEERING_STANDARDS.md
Due: cortex-audit

docs(arch): define padrão de observabilidade para HTTP [P17]
  docs/architecture/OBSERVABILITY.md
  docs/guides/ENGINEERING_STANDARDS.md
Due: cortex-audit

docs(arch): define padrão de observabilidade para HTTP [P17] (#141)
  docs/architecture/OBSERVABILITY.md
  docs/guides/ENGINEERING_STANDARDS.md
Due: cortex-audit

feat(cortex): implementa modelos de dados para Knowledge Node [P31.1]
  scripts/core/cortex/__init__.py
  scripts/core/cortex/models.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa modelos de dados para Knowledge Node [P31.1] (#142)
  scripts/core/cortex/__init__.py
  scripts/core/cortex/models.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa modelos Knowledge Node com testes [P31.1]
  docs/architecture/CORTEX_INDICE.md
  tests/test_knowledge_models.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa modelos Knowledge Node com testes [P31.1]
  tests/test_knowledge_models.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa modelos Knowledge Node com testes [P31.1] (#143)
  docs/architecture/CORTEX_INDICE.md
  tests/test_knowledge_models.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa Knowledge Scanner e comando CLI [P31.2]
  docs/knowledge/example-kno-001.md
  scripts/cli/cortex.py
  scripts/core/cortex/__init__.py
  scripts/core/cortex/config.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/models.py
  tests/test_knowledge_scanner.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa Knowledge Scanner e comando CLI [P31.2] (#144)
  docs/knowledge/example-kno-001.md
  scripts/cli/cortex.py
  scripts/core/cortex/__init__.py
  scripts/core/cortex/config.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/models.py
  tests/test_knowledge_scanner.py
Due: code-audit-security, cortex-audit

chore(git): ignora cache do mypy (.mypy_cache)
  .gitignore
Due: none

feat(cortex): implementa KnowledgeSyncer para sincronização de conhecimento [P31.3]
  scripts/core/cortex/__init__.py
  scripts/core/cortex/knowledge_sync.py
Due: code-audit-security, cortex-audit

feat(cortex): implementa KnowledgeSyncer para sincronização de conhecimento [P31.3] (#145)
  scripts/core/cortex/__init__.py
  scripts/core/cortex/knowledge_sync.py
Due: code-audit-security, cortex-audit

test(cortex): finaliza testes do KnowledgeSyncer [P31.3]
  tests/test_knowledge_sync.py
Due: code-audit-security, cortex-audit

fix(tests): adiciona ignore de tipagem em requests (CI fix)
  tests/test_knowledge_sync.py
Due: code-audit-security, cortex-audit

feat(cli): adiciona comando 'cortex knowledge-sync' [P31.3]
  scripts/cli/cortex.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/models.py
Due: code-audit-security, cortex-audit

feat(cli): adiciona comando 'cortex knowledge-sync' [P31.3] (#147)
  scripts/cli/cortex.py
  scripts/core/cortex/knowledge_scanner.py
  scripts/core/cortex/models.py
Due: code-audit-security, cortex-audit

fix(guardian): finaliza Fase 2 com correções de tipagem estrita [P31.4]
  scripts/core/guardian/hallucination_probe.py
Due: code-audit-security, cortex-audit

fix(guardian): finaliza Fase 2 com correções de tipagem estrita [P31.4] (#150)
  scripts/core/guardian/hallucination_probe.py
Due: code-audit-security, cortex-audit

fix(cortex): aplica trava dupla de tipagem em requests para evitar flaky CI
  scripts/core/cortex/knowledge_sync.py
Due: code-audit-security, cortex-audit

feat(ux): adiciona comando 'guardian-probe' e manual do Knowledge Node [P31 Final]
  docs/guides/KNOWLEDGE_NODE_MANUAL.md
  scripts/cli/cortex.py
Due: code-audit-security, cortex-audit

fix: adicionar type hints para mypy strict no CLI
  src/main.py
Due: code-audit-security, cortex-audit

feat: implement zero-friction auto-documentation system
  .pre-commit-config.yaml
  docs/reference/CLI_COMMANDS.md
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

feat: upgrade doc_gen to v1.1 with deep recursion and mermaid support
  docs/reference/CLI_COMMANDS.md
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

feat: upgrade doc_gen to v1.1 with deep recursion and mermaid support (#152)
  docs/reference/CLI_COMMANDS.md
  scripts/core/doc_gen.py
Due: code-audit-security, cortex-audit

feat: add CI documentation validator script and workflows
  .github/workflows/validate-docs.yml.example
  docs/reference/CI_DOCS_VALIDATOR.md
  scripts/ci/README.md
  scripts/ci/__init__.py
  scripts/ci/check_docs.py
  tests/test_ci_check_docs.py
Due: code-audit-security, cortex-audit

feat(cli): expose platform strategy details in dev-doctor
  docs/reference/CLI_COMMANDS.md
  scripts/cli/doctor.py
Due: code-audit-security, cortex-audit

feat(cli): integrate audit dashboard into dev-audit CLI
  audit_metrics.json
  docs/architecture/AUDIT_DASHBOARD_INTEGRATION.md
  docs/reference/CLI_COMMANDS.md
  scripts/cli/audit.py
Due: code-audit-security, cortex-audit

chore: update auto-generated docs and metrics
  audit_metrics.json
  docs/reference/CLI_COMMANDS.md
Due: cortex-audit

feat(dx): implement smart governance to eliminate pre-commit loops
  .pre-commit-config.yaml
  Makefile
  docs/analysis/DX_GOVERNANCE_BOTTLENECK_ANALYSIS.md
  docs/analysis/EXECUTIVE_SUMMARY_DX_OPTIMIZATION.md
  docs/architecture/ADR_002_PRE_COMMIT_OPTIMIZATION.md
  docs/guides/QUICK_IMPLEMENTATION_GUIDE_PRE_COMMIT_FIX.md
  docs/reference/CLI_COMMANDS.md
  scripts/cli/audit.py
Due: code-audit-security, cortex-audit

chore: update auto-generated CLI documentation
  docs/reference/CLI_COMMANDS.md
Due: cortex-audit

chore: apply formatting fixes from hooks
  docs/reference/CLI_COMMANDS.md
Due: cortex-audit
